[2022-09-15 15:59] cspearl commented on #2050
Yes I tried but it gives the same result. My annotation files only have 0 - background and 1 - foreground labels.

[2022-09-15 19:27] cspearl opened #2080 "Getting predicted label images without overlay"
I want the final predicted label images( labeled as 0, 1, ..) but when using -
python tools/test.py ${CONFIG_FILE} ${CHECKPOINT_FILE} [--out ${RESULT_FILE}] [--eval ${EVAL_METRICS}] [--show-dir]
--show-dir saves the results by plotting it on the original rgb images.
How do I get just the predicted label images?
Thanks in advance!

[2022-09-16 01:03] tjdgus6255 opened #2081 "IoU / Acc nan"
Hello.

I want to train pretrained model(deeplabv3) using my dataset.

So. I prepared custom dataset(look like coco-stuff)  ---> '.jpg' - images folder / '.png'(gray scale) - annotations folder

But, I got an ERROR like below.

+-----------------------+-----+-----+
|         Class         | IoU | Acc |
+-----------------------+-----+-----+
|          back         | 0.0 | 0.0 |
|     circular_valve

[2022-09-16 02:14] xiexinch commented on #2050
Hi @cspearl,
Could you try to set the different thresholds to the decode_head?

[2022-09-16 03:07] MengzhangLI commented on #2080
Save it manually after this line: https://github.com/open-mmlab/mmsegmentation/blob/c1c942e8fc22dc73d6a378a811d6c4c0c2ed73e4/mmseg/models/segmentors/encoder_decoder.py#L276.

[2022-09-16 08:38] xiexinch commented on #2081
Hi @tjdgus625,
Could you provide your config file if it's possible? Since your training launched successfully, I think it is not a problem with the code, the problem may lie in the hyperparameters of the model or dataset.

[2022-09-16 08:48] lkyyef commented on #2058
Thank you for your answer

[2022-09-16 12:22] scm-later opened #2082 "debug"
I run the sh tools/dist_train.sh configs/deeplabv3_clipres50_512x512_80k_vaihingen.py 2 command,
If I want to know the feature map dimensions of the backbone network output, where should I interrupt and how to execute the debug
What I want to express is how to know the changes of feature map dimensions during model training, or is there any method to print the feature map dimensions

[2022-09-16 15:26] JordanMakesMaps commented on #2046
These papers on calculating [boundary IoU](https://arxiv.org/abs/2103.16562) and [boundary loss](https://www.aaai.org/AAAI22Papers/AAAI-2277.WangC.pdf) might be of use. @MengzhangLI any chance these could be included in the repo?

[2022-09-16 16:00] cspearl commented on #2050
Can you elaborate a bit on what to add? In the decode head dict

[2022-09-16 17:02] cspearl commented on #2080
This is the function where this line is - but it doesn't get called anywhere
https://github.com/open-mmlab/mmsegmentation/blob/c1c942e8fc22dc73d6a378a811d6c4c0c2ed73e4/mmseg/models/segmentors/encoder_decoder.py#L264

Instead this function gets called I think.
https://github.com/open-mmlab/mmsegmentation/blob/ee25adc2c1d73e22355d168fa09ae7bdac899a24/mmseg/apis/test.py#L34

Can you please say what s

[2022-09-17 08:28] llyong opened #2083 "Is there any enhancement and model for medical images？"
Is there any enhancement and model for medical images？

[2022-09-17 12:17] qieyiZhjy opened #2084 "problems about iou and Dice"
I have a question about two-category semantic segmentation. From the test images, it can be seen that my IOU and Dice are significantly higher than the indicators calculated by mmseg. mmesg is even only a few tenths, can you tell me what is wrong

Ground truth labels on the left, predicted labels on the right
![001902](https://user-images.githubusercontent.com/82804182/190856231-2f35dc29-7d53-4ad9

[2022-09-17 12:21] qieyiZhjy commented on #2084
norm_cfg = dict(type='BN', requires_grad=True)
model = dict(
    type='EncoderDecoder',
    pretrained='open-mmlab://msra/hrnetv2_w32',
    backbone=dict(
        type='HRNet',
        norm_cfg=dict(type='BN', requires_grad=True),
        norm_eval=False,
        extra=dict(
            stage1=dict(
                num_modules=1,
                num_branches=1,
                block='BOTTLENECK',

[2022-09-18 07:15] RunningLeon commented on #2055
@vozhuo Hi, pls. use mmdeploy and check the [docs](https://mmdeploy.readthedocs.io/en/latest/04-supported-codebases/mmseg.html).

[2022-09-18 23:58] tjdgus6255 commented on #2081
`# model settings
norm_cfg = dict(type='BN', requires_grad=True)
model = dict(
    type='EncoderDecoder',
    pretrained='open-mmlab://resnet101_v1c',
    backbone=dict(
        type='ResNetV1c',
        depth=101,
        num_stages=4,
        out_indices=(0, 1, 2, 3),
        dilations=(1, 1, 2, 4),
        strides=(1, 2, 1, 1),
        norm_cfg=norm_cfg,
        norm_eval=False,
        style='

[2022-09-19 02:15] Jing-W98 commented on #2035
Thank you! I have solved the problem.

[2022-09-19 02:20] Jing-W98 opened #2085 "RuntimeError: DataLoader worker (pid 8102) is killed by signal: Terminated."
Hi. I try to train a model.
After the model starts training for a while, an error is reported:
RuntimeError: DataLoader worker (pid 8102) is killed by signal: Terminated.
How can I solve it? Thank you!

[2022-09-19 08:57] kekmodel opened #2087 "Even if "seg_pad_val=255 " it will run with "padding_value=0". Is this okay?"
https://github.com/open-mmlab/mmsegmentation/blob/ee25adc2c1d73e22355d168fa09ae7bdac899a24/mmseg/datasets/pipelines/formatting.py#L209-L212

[2022-09-19 10:10] xiexinch commented on #2081
Hi @tjdgus6255,
The num_classes of decode_head should be the same as the number of classes in your dataset.

[2022-09-19 10:12] xiexinch commented on #2082
Hi @scm-later,
I think it's the same as debugging any python program, adding breakpoints where you need them.

[2022-09-19 10:22] xiexinch commented on #2083
Hi @llyong,
We currently provide experimental results of UNet on only a few medical image datasets.

[2022-09-19 14:34] MengzhangLI commented on #2080
I mean you may add a new linw after L276, like:

[code]

[2022-09-19 14:35] MengzhangLI commented on #2046
We do not have enough time to add boundary loss, if you are interested in it, PR is absolutely welcome!

[2022-09-19 14:43] MengzhangLI commented on #2050
https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/decode_heads/decode_head.py#L23-L24

[2022-09-19 14:44] #2058 closed

[2022-09-19 14:44] #2059 closed

[2022-09-19 14:47] MengzhangLI commented on #2085
It is usually caused by your limited computer memory:

https://github.com/pytorch/pytorch/issues/4507#issuecomment-390095050

[2022-09-19 14:53] MHX1203 commented on #2053
ok, thanks very much. i got it.

[2022-09-19 14:54] #2053 closed

[2022-09-19 16:28] jhaggle commented on #1511
How do you match palette colors with the colors given to classes in labelme?

[2022-09-19 18:23] jhaggle opened #2091 "How to specify config-file for grayscale images of certain size?"
I am following this tutorial:
https://github.com/open-mmlab/mmsegmentation/blob/master/demo/MMSegmentation_Tutorial.ipynb

I am using grayscale images of size (3006,4104).
What should the following values in the config be changed to:

1)
cfg.img_norm_cfg = dict( mean=[123.675, 116.28, 103.53], std=[58.395, 57.12, 57.375], to_rgb=True)

2)
cfg.crop_size = (256, 256)

3)
cfg.train_pipeline = [
    d

[2022-09-20 00:58] tjdgus6255 commented on #2081
After modifying, I still got a same error.

When I put reduce_zero_label = False, I got an accuracy (not zero). But, in evaluation part,  I got only back's IoU and Acc

![R0004](https://user-images.githubusercontent.com/67773599/191144120-8b33d2c1-ec44-4904-9ea5-7516116ac2be.png)
![R_0004](https://user-images.githubusercontent.com/67773599/191144143-ca912fa0-f85e-4360-8331-84606e7059bc.jpg)

There

[2022-09-20 02:16] tomp11 commented on #2045
I understood fully, thank you!

[2022-09-20 02:16] #2045 closed

[2022-09-20 03:12] kekmodel commented on #2087
https://github.com/open-mmlab/mmcv/blob/6a03918f55c1cc860bcb4d64a0e868ca13cf08ba/mmcv/parallel/data_container.py#L22-L44

DC, padding_value=0 is the default. Is this okay?

[2022-09-20 03:22] MengzhangLI commented on #2087
Yes, for sure. If you still doubt about it, you could set other value in config and have a try.

[2022-09-20 03:40] MengzhangLI commented on #2091
`img_norm_cfg` should keep the same because most pretrained models of MMSegmentation are pretrained based on this image normalization value.

`crop_size` may be larger because your grayscale images are much larger than normal datasets. But noted that large `crop_size` may increase GPU memory requirement.

`img_scale` in `Resize` may keep the ratio with `crop_size`, for example, if `crop_sizze = (5

[2022-09-20 04:04] Caczhtus commented on #292
Thanks, it's resolved!

[2022-09-20 04:37] jhaggle commented on #2091
Even if `crop_size` is bigger, should it always be quadratic, or should/could it be adapted to the aspect ratio of the image?

 Could you elaborate your example on how you mean that `img_scale`  `Resize` may keep the ratio with `crop_size`? How do you mean that the ratio is kept if crop_size = (512, 512) and you then set cfg.train_pipeline = [dict(type='Resize', img_scale=(640, 480), ratio_range=(

[2022-09-20 04:53] tjdgus6255 commented on #2081
In addition, I have a question. Is it possible to train pretrained model with custom dataset?

[2022-09-20 05:25] MengzhangLI commented on #2091
1. The setting of crop size is not strict, you may have a try to find a suitable value.

2. For example, [`ade20k.py` ](https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/datasets/ade20k.py#L6-L10) and [`ade20k_640x640.py`](https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/datasets/ade20k_640x640.py#L6-L10).

[2022-09-20 05:36] MengzhangLI commented on #1511
I don't know labelme very well, but the match up between palette and class could be defined in dataset class, like [here](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/cityscapes.py#L21-L30).

[2022-09-20 05:46] ychenghan opened #2092 "feature map size"
为什么ade20k数据集在训练和验证时输入网络的图片尺寸大小不一样，在输入Resnet50backbone的第一个layer时的featuremap的shape是[2,64,128,128],但在验证时同样位置的featuremap大小会变成[2,64,128,171]。我猜测是做了多尺度数据增广的原因，我尝试不使用多尺度数据增广，在test_pipeline中去除多尺度数据增广之后，并采用了 val=dict(
#         type='ADE20KDataset',
#         data_root='data/ade/ADEChallengeData2016',
#         img_dir='images/validation',
#         ann_dir='annotations/validation',
#         pipeline=[
#

[2022-09-20 05:48] ychenghan commented on #2092
val=dict(
        type='ADE20KDataset',
        data_root='data/ade/ADEChallengeData2016',
        img_dir='images/validation',
        ann_dir='annotations/validation',
        pipeline=[
            dict(type='LoadImageFromFile'),
            dict(type='Resize', img_scale=(512,512)),
            dict(type='RandomFlip', prob=0.5),
            dict(
                type='Normalize',

[2022-09-20 06:02] #2087 closed

[2022-09-20 07:21] jhaggle commented on #2091
So if my grayscale images of size (3006,4104) and I choose `cfg.crop_size = (1024,1024)`.
Does this in anyway affect how I should choose `dict(type='Resize', img_scale` or what should I otherwise take into consideration when setting `img_scale`?

[2022-09-20 09:15] MengzhangLI commented on #2091
It depends on your dataset, you can try to find suitable variables by grid search of these hyper parameters.

[2022-09-20 14:04] #2069 closed

[2022-09-20 22:32] yuanyuangoo opened #2094 "How can I ignore multiple labels during training?"
What should be changed in the config file to ignore more than 2 labels during training?

Where should I put avg_non_ignore and ignore_index?

[2022-09-21 01:33] #2076 closed

[2022-09-21 07:00] xiexinch commented on #2092
Hi @ychenghan,
训练时的pipeline会把图片裁剪到同一个尺寸，测试时如果不开启多尺度测试那么图片尺寸就是原图大小，这个并不是固定的。

在测试时我们要求传入的图片数据是 list, 因此使用训练时的pipeline会报错。

https://github.com/open-mmlab/mmsegmentation/blob/ee25adc2c1d73e22355d168fa09ae7bdac899a24/mmseg/apis/test.py#L91

https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/segmentors/base.py#L110

https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/model

[2022-09-21 07:12] xiexinch commented on #2094
Hi @yuanyuangoo,
Currently, does not support ignoring more than two labels.

`avg_non_ignore` should be set at the loss configuration, and `ignore_index` should be set at the decode_head configuration.

https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/losses/cross_entropy_loss.py#L225

https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/decode_heads/decode_he

[2022-09-21 11:59] WangZan0899 opened #2096 "Which version of mmcv should be installed for mmseg of the 1.x branch？"
I want to experience the new version 1.x branch of mmseg, which version of mmcv should I install? Also, I didn't find any trace in mmengine's official documentation related to mmengine installation instructions? When will the installation instructions be updated? Thanks for your great work!

[2022-09-21 12:48] mak7ostapenko opened #2097 "Problems with Docker on remote development server #106"
When I run a build of the docker container with the next command
[code]

I receive the next errors related to the GPG key of the Nvidia repository.
[code]

**What I have already tried:**
- checked the keys in Dockerfile and they are up to date.
- Remote server for works with a connection to the **network**,
- made reboot, system packages, update and upgrade,
- restarted Docker daemon.

I can run t

[2022-09-21 19:25] AndrewTrefilov commented on #2050
same problem..
in **decode_head** and **auxiliary_head** `num_classes=2`
[code]

custom dataset:

[code]

[2022-09-22 00:15] saratrajput commented on #2072
@ice-tong Thanks. I made a PR to add the instructions to the README, but this sounds better. Let me make a small PR to add this to the error message.

[2022-09-22 00:40] jhaggle opened #2098 "cfg.dataset_type = ??"
I am following this tutorial:
https://github.com/open-mmlab/mmsegmentation/blob/master/demo/MMSegmentation_Tutorial.ipynb

I now wonder what I should set as `cfg.dataset_type` when I use my own dataset? I have first used labelme to annotate it and then the file labelme2voc.py from the labelme-repo to transform the annotations to the format required by mmsegmentation.

[2022-09-22 02:29] MengzhangLI commented on #2098
`dataset_type` is the name of your own dataset class. For example:

https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/datasets/loveda.py#L2

It is defined here:

https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/loveda.py#L13

[2022-09-22 03:30] MeowZheng commented on #2097
It fails to resolve DNS. We suggest you check the container network status and work on repeating your problem on our local pc.

[2022-09-22 06:59] tjdgus6255 commented on #2081
Hello! I solved it.

By converting color value to label value, It works well.

[2022-09-22 06:59] #2081 closed

[2022-09-22 08:08] plainzzj opened #2099 "How to make ONE class correspond to multiple pixel values in the dataset?"
In my work, the picture only contains apples and backgrounds, but each apple corresponds to a pixel value (instance segmentation). How to make multiple pixel values (such as 1-254) correspond to a category: "Apple".

Thank you very much.

[2022-09-22 09:28] PangziZhang523 opened #2100 "stdc model loss becomes nan halfway through training"
![image](https://user-images.githubusercontent.com/56216032/191711117-bf5378dd-1040-4ca6-a197-db500895ee7c.png)

[2022-09-22 12:34] WangZan0899 commented on #2096
Thanks so much!!!

[2022-09-22 12:35] #2096 closed

[2022-09-22 13:36] MengzhangLI commented on #2099
[code]

Try to use [label_map](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/custom.py#L105). You can global search this keyword and try to set it in proper position.

[2022-09-22 13:38] MengzhangLI commented on #2100
Did you use your customized dataset?

My first reaction is not using STDC head, you can uncomment stdc head in your config file (use fcn head instead) and try to find whether it is still NaN?

If yes, it is caused by STDC head which includes boundary filter which may cause Nan.

If no, we would try to find other potential reasons.

[2022-09-22 21:38] yuanyuangoo commented on #2094
Hi, May I ask how to exclude a label in evaluation?

[2022-09-23 01:28] xiexinch commented on #2094
Try to set the `ignore_index` to your dataset configuration.

https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/custom.py#L89

For example, set the `ignore_index` parameter  to the val dataset:

https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/datasets/cityscapes.py#L43

[2022-09-23 01:28] WangZan0899 opened #2102 "ValueError: size shape must match input shape. Input is 2D, size is 3 (seg_logit does not match the shape of seg_label)"
Hi, thanks for the excellent work!
But I had trouble training the **SUIM dataset**.
(The official website for the dataset is:  **https://irvlab.cs.umn.edu/resources/suim-dataset**)

An error was reported after the training was opened. The error message is:
**ValueError: size shape must match input shape. Input is 2D, size is 3**

I guess this is because all the **mask maps** in the dataset are sto

[2022-09-23 04:37] WangZan0899 commented on #2102
Following the advice you gave, I did write a script to deal with masks. The error was resolved smoothly and efficiently, thank you again!!!

[2022-09-23 05:17] wxk514 opened #2103 "请问如何部署？（自己的训练数据集，ADE格式）"
导出onnx模型后，请问该怎么用opencv加载运行呢，有脚本么请问，谢谢！

[2022-09-23 06:00] ayulockin commented on #1981
Hey @FabianSchuetze, apologies for the delayed reply.

## Mechanics of logging

This is true; it logs the ground truth image + associated masks. We need to call this once as the evaluation samples need not change (ideally).

We call [`_log_predictions`](https://github.com/open-mmlab/mmsegmentation/blob/c5259a0d83f7b12e5d4d50ff155b872818b3204a/mmseg/core/hook/wandblogger_hook.py#L310) periodically

[2022-09-23 06:26] xiexinch commented on #2102
Hi @WangZan0899,
It may be that there are fewer samples of this class `PF`, you can try to add class_weights to the loss function.

https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/losses/cross_entropy_loss.py#L222

[2022-09-23 09:26] xiexinch commented on #2103
Hi @wxk514,
推荐使用 [MMDeploy](https://github.com/open-mmlab/mmdeploy) 做部署，你可以看一下 onnx 模型测试的[文档](https://github.com/open-mmlab/mmdeploy/blob/master/docs/zh_cn/02-how-to-run/profile_model.md)。MMSegmentation 目前只提供了一个导出脚本，没有关于部署的更多内容。

[2022-09-23 13:53] #2097 closed

[2022-09-23 14:12] wxk514 commented on #2103
好哒谢谢！

[2022-09-23 15:47] sparshgarg23 opened #2104 "Cityscape training on 2048x1024"
I see that when training segmentation models on cityscapes,most of the images are resized to 1024x512.As such are there any segmentation models in which training was done without resizing /random cropping the images. if yes could you provide configs for that model.
Also apart from the apparent downside of high computational cost,what are the other pros and cons of training the images on their orig

[2022-09-24 04:41] #2103 closed

[2022-09-24 19:35] Leeinsn opened #2105 "K-Net ADE20K is something error!"
When I train with config knet_s3_upernet_r50-d8_8x2_512x512_adamw_80k_ade20k.py, it show that 'AttributeError: EncoderDecoder: 'IterativeDecodeHead' object has no attribute 'out_channels''

[2022-09-25 03:35] shengyi4 opened #2106 "Finetuning parameters on my own dataset"
I have a silly question to make sure I am on the right track. If I use a model, such as Segformer to train on a small dataset. Can I use the provided pre-trained model as a starting point, and train on my own small dataset? Does it count as fine-tuning the parameters?

Thanks a lot for your feedback. I really appreciate it.

[2022-09-25 14:45] mangelroman commented on #2105
I get the exact same error running inference with knet_s3_upernet_swin-l_8x2_640x640_adamw_80k_ade20k

[2022-09-26 00:30] tjdgus6255 opened #2107 "train pre-trained model with custom dataset"
Hello. I got a question.

I trained pre-trained model with custom dataset.

And it works well. But there are a problem.

When I run new model ( pre-trained model + custom dataset), it could not recognize the objects detectable before.

It is supposed to be like that? or I missed something for training?

my command line for training here:
python tools/train.py configs/deeplabv3/deeplabv3_r101-d8_51

[2022-09-26 03:08] Manningchan opened #2108 "CUDA out of memory"
The training is ok, but cuda out of memory will appear during the validation process. No matter it is a single gpu or multiple gpus, this error will occur. When i reduce the batch size, it is still appear,  i use 4 gpus, 8 samples per gpu in training is ok, but 2 samples per gpu in validation will occur the error
RuntimeError: CUDA out of memory. Tried to allocate 8.67 GiB (GPU 0; 23.70 GiB total

[2022-09-26 03:29] MengzhangLI commented on #2107
You can check detailed log files between (1) `I trained pre-trained model with custom dataset.` and (2) `I run new model ( pre-trained model + custom dataset)`. Perhaps some setttings in these two configs are different.

[2022-09-26 03:44] MengzhangLI commented on #2108
https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/tutorials/customize_datasets.md#data-configuration

In validation, there is always one image one time:

[code]

I think perhaps it is (1) caused by your validation set has a large quantities of images than training set, or (2) your original images sizes are too big (in training, before training model it will crop images into `crop_si

[2022-09-26 03:46] tjdgus6255 commented on #2107
you mean I should check pre-trained model config and new model config?

[2022-09-26 04:10] MengzhangLI commented on #2105
Hi, guys. @Leeinsn @mangelroman

https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/decode_heads/knet_head.py#L414

Could you fix `super(BaseDecodeHead, self).__init__(**kwargs)` to `super(IterativeDecodeHead, self).__init__(**kwargs)` and try again? Looking forward to your reply.

[2022-09-26 05:11] MengzhangLI commented on #2107
You could try to keep `(2) I run new model ( pre-trained model + custom dataset)` the same as `(1) I trained pre-trained model with custom dataset.` and try again.

[2022-09-26 06:20] Jing-W98 opened #2109 "TypeError: forward() got multiple values for argument 'img_metas'"
I try pytorch2onnx.

It reports the following error:
Traceback (most recent call last):
  File "tools/pytorch2onnx.py", line 393, in <module>
    dynamic_export=args.dynamic_export)
  File "tools/pytorch2onnx.py", line 204, in pytorch2onnx
    dynamic_axes=dynamic_axes)
  File "/home/research/wangjing/anaconda3/envs/openmmlab/lib/python3.7/site-packages/torch/onnx/__init__.py", line 365, in export

[2022-09-26 06:41] MengzhangLI commented on #2109
Seems like it is caused by mmcv version conflict.

https://github.com/open-mmlab/mmsegmentation/issues/1962

[2022-09-26 07:38] Jing-W98 commented on #2109
It conflicts with pytorch1.12？

[2022-09-26 07:43] Manningchan commented on #2108
thank you， i find that some validation images are too big and the codes can run after resized these images

[2022-09-26 08:22] xiexinch commented on #2104
Hi @sparshgarg23,
We don't provide the configs you need. Actually, the images are resized to 2048x1024 and then cropped to 1024x512.

[2022-09-26 08:28] xiexinch commented on #2106
Hi @shengyi4,
I think there is no problem, you can also try training without pre-trained model.

[2022-09-26 08:42] sparshgarg23 commented on #2104
Hmm,so if i don't do the cropping and train on the 2048x1024 would there be any significant affect on the accuracy of the model?

[2022-09-26 09:03] xiexinch commented on #2104
Hi @sparshgarg23 , I think this can improve some accuracy, you can run an experiment to try it out.

[2022-09-26 09:18] Renp1ngs opened #2110 "The discriminator of the adversarial network."
Hi!
I want to implement a discriminator in segmentor. In addition, I want to implement an optimizer for this discriminator alone, how can I quickly build this optimizer and lr_config.

[2022-09-26 10:57] lifan724 opened #2111 "2-classed segmentation, IoU and Acc are 0.0 and nan respectively"
I set the num_classes==2 to model a 2-classes problem。The "CrossEntropyLoss" and "DiceLoss" both got validatied results show below:
+------------+-------+-------+-------+--------+-----------+--------+
|   Class    |  IoU  |  Acc  |  Dice | Fscore | Precision | Recall |
+------------+-------+-------+-------+--------+-----------+--------+
| background | 95.43 | 98.46 | 97.66 | 97.66  |   96.88   | 9

[2022-09-26 12:23] #2098 closed

[2022-09-26 12:27] jhaggle opened #2112 "AssertionError: EncoderDecoder: both backbone and segmentor set pretrained weight"
I am following this tutorial:
https://github.com/open-mmlab/mmsegmentation/blob/master/demo/MMSegmentation_Tutorial.ipynb

I use my own dataset. When I start the training, everything works fine. However, if I RERUN the same cell, I get the error
"AssertionError: EncoderDecoder: both backbone and segmentor set pretrained weight". Why is this and how do I fix it?

[2022-09-26 21:59] mangelroman commented on #2105
I tested again with the proposed changes and got a different error. This is what I did:
- modified the requested file
- run `pip install -v -e .` in the mmsegmentation cloned repository
- download the model weights again via mim download

Please find below the full error trace after executing `init_segmentor()`

[code]

[2022-09-27 01:48] plainzzj commented on #2099
Thank you very much for your support!
I try to add `label_map = dict(zip([x for x in range(2,150)], [1]*150))` Change all instance tags to 1.
I want to know that in the config file,  the `num_classes` from `decode_head`  and  `auxiliary_head` ,whether to use the maximum number of instances (150), or can it be changed to 2 (background+apple).

Thank you again for your support in your busy schedule！

[2022-09-27 04:00] tjdgus6255 commented on #2107
I'm sorry for bothering you, but I couldn't understand exactly what you said.

I think you mean, I should train with original config file(no change num_classes, reduce_zero_label, samples_per_gpu)

Is that right?

[2022-09-27 04:07] plainzzj commented on #2099
Add a question: should I set the parameter `custom_classes` to True?

[2022-09-27 05:21] kyre-99 commented on #472
I got same problem, it was from opencv-python version problem for me.
My Linux machine's environment is as following:
 pip uninstall opencv-python
 pip install opencv-python==4.3.0.36
 pip list|grep opencv-python

[2022-09-27 09:55] jhaggle commented on #1393
I have the same error

[2022-09-27 09:58] Lenleooo commented on #1520
I also have a releated issue. When I replace "CrossEntropyLoss" to "binary_cross_entropy", output an error:
KeyError: 'EncoderDecoder: "DepthwiseSeparableASPPHead: 'binary_cross_entropy is not in the models registry'"'
Hope I didn't get the wrong name of loss function, I get "binary_cross_entropy" from "mmseg/models/losses/init.py"

[2022-09-27 20:20] yuanyuangoo commented on #2094
Thanks.

[2022-09-27 20:21] #2044 closed

[2022-09-28 01:57] Lenleooo opened #2117 "Segmenter run my own dataset, mIoU is decreasing (binary segmentgation)"
!
![8A 5@500@Y43(1KUV2UK)R](https://user-images.githubusercontent.com/43592098/192669887-2909da5e-992e-41ed-bd3e-fa0e6271c896.png)

[2022-09-28 01:58] Lenleooo commented on #2117
I don't know why segmenter runing on my own vein dataset, the eval result is very low and keep decreasing. Please help! thanks.

[2022-09-28 03:09] MengzhangLI commented on #2111
Hi, if you only have one foreground class, I suggest you use binary segmentation with latest MMSegmentation version and check out PR [here](https://github.com/open-mmlab/mmsegmentation/pull/2016).

[2022-09-28 03:22] Howietzh opened #2119 "the inference time of ICNet gradually increases."
when runing the script below, I found the inference speed of icnet increased gradually.

CUDA_VISIBLE_DEVICES=0 python -u tools/benchmark.py configs/coarse_position/icnet_r18-d8_512x612_20k_coarseposition.py work_dirs/icnet_r50-d8_512x612_20k_coarseposition/latest.pth --repeat-times 5
![image](https://user-images.githubusercontent.com/37623127/192679963-6659dcba-ac14-4d44-bc40-48faee145896.png)
![

[2022-09-28 03:24] MengzhangLI commented on #2112
Hi, because the re-run line has `build_segmentor(cfg.model)` so I think in memory it already has built the model. I think the best way is NOT RERUN command and before you want to re-run, just kill the jupyter kernel.

Q2: You can use `--auto-resume`, see here: https://github.com/open-mmlab/mmsegmentation/blob/master/tools/train.py#L90-L93.

[2022-09-28 03:25] MengzhangLI commented on #2117
Hi, try to use binary segmentation with latest MMSegmentation. See PR here: https://github.com/open-mmlab/mmsegmentation/pull/2016

[2022-09-28 03:48] MengzhangLI commented on #2110
Hi, first you could create a `discriminator` class together with backbone, neck and head. Then you could follow the total framework of [segmentor](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/segmentors/encoder_decoder.py#L14) and adding it in a proper way. Then you could follow [`train_segmentor`](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/apis/train.p

[2022-09-28 03:50] MengzhangLI commented on #2107
No, I mean you should keep your parameters in config file (especially those related with the dataset) the same with checkpoints you already trained when you run new model.

[2022-09-28 06:05] wmkai commented on #2057
thanks for replying, it helps me a lot.

[2022-09-28 06:05] #2057 closed

[2022-09-28 06:25] lifan724 opened #2120 "api/test 打开 --show_dir 开关后，生成数据覆盖了原始数据，坑啊"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. The bug has not been fixed in the latest version.

**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction**

1. What command or script did you run?

[code]

2. Did you make any modifications on the code or config? Did you

[2022-09-28 06:28] lifan724 commented on #2120
“”“python
         if out_dir:
               out_file = osp.join(out_dir, img_meta['ori_filename'])
         else:
              out_file = None
”“”
osp.join(out_dir, img_meta['ori_filename']) 应该做一下检查，如果是绝对路径则应该提取文件名，否则会直接将源数据进行覆盖

[2022-09-28 08:29] tjdgus6255 commented on #2107
I used same config file.(train and run)

<my dataset  /  coco-stuff164k>
For dataset config,
I just changed 'samples_per_gpu = 4' into 'samples_per_gpu = 2'
and I changed 'dict(type='LoadAnnotations'),' into 'dict(type='LoadAnnotations', reduce_zero_label=True),'

[2022-09-28 11:05] chenhongming opened #2123 "pytorch2torchscript(dev-1.x)"
KeyError: "class `EncoderDecoder` in mmseg/models/segmentors/encoder_decoder.py: 'SegDataPreProcessor is not in the model registry.

The scope is 'mmengine' in the registry, however SegDataPreProcessor exists children of the  registry.
![捕获5](https://user-images.githubusercontent.com/29920966/192763324-523c943c-8f40-49ce-bea2-4639783ab93f.JPG)

thank you for your reply.

[2022-09-28 12:52] MeowZheng commented on #2120
`img_meta['ori_filename']` just only saves the file name that is relative to dir_path.

[2022-09-28 12:59] MeowZheng commented on #2119
How many times have you observed this phenomenon？Did you check the CPU usage when you ran the experiments

[2022-09-28 13:01] MeowZheng commented on #2123
please call `registry_all_modules` first of all

[code]

[2022-09-29 00:35] Howietzh commented on #2119
I run this script a lot of times. this phenomenon exists every time. I checked the CPU usage and its up to 273%. that can't be good, right? how to handle this problem? please! by the way, I only run the benchmark.py on the server and its cpu usage is up to 273%。

[2022-09-29 01:50] chenhongming commented on #2123
Thanks, it's works.

[2022-09-29 03:36] chenhongming opened #2124 "log(dev-1.x)"
In the locally saved log, the dev-1. x branch has no evaluation result of a single category.
![捕获6](https://user-images.githubusercontent.com/29920966/192932840-3cf97405-9979-4605-b00e-61437b443cf3.JPG)
![捕获7](https://user-images.githubusercontent.com/29920966/192932852-0cae4897-c95a-4ea8-8e72-a85815aa0ee7.JPG)

thank you for your reply.

[2022-09-29 03:37] #2123 closed

[2022-09-29 05:01] lkyyef opened #2125 "About LovaszLoss"
When using the lovasz loss function in segmenter, I found that if the lovasz loss function is used by default
（type='LovaszLoss', loss_weight=1.0）
（number_classes=2）
  (dict(type='LoadAnnotations', reduce_zero_label=False))，
Labels fall into two categories（0 is the background and 1 is the area of interest）It can operate normally，but I use two classes of lovasz loss function
（type='LovaszLoss', los

[2022-09-29 05:31] rumozam commented on #356
I solved my problem! If this is still happening to you, possible solutions might be:
- Downgrading from torch 1.12 to 1.11 (https://github.com/open-mmlab/mmsegmentation/issues/1742#issuecomment-1177371937)
- Pulling from mmcv, because the problem was fixed!

[2022-09-29 06:31] songhc8 opened #2126 "how to get confidence score for each pixel."
hi,
thanks for your work.

when i run
`inference_segmentor(model, img)`
i get final result. i.e. the output is label index of each pixel.

how can i get confidence score of each pixel.

thank you.

[2022-09-29 08:57] yzes opened #2127 "using wrong gpu when training with single gpu"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. The bug has not been fixed in the latest version.

**Describe the bug**
A clear and concise description of what the bug is.
when run with single gpu, select gpu 1 ,the model will be put into gpu 0 first.
My implement is below.
in path mmseg/utils/util_dist

[2022-09-29 09:29] #2124 closed

[2022-09-29 15:08] Zihang-Wei commented on #496
C:\Users\uif46395\Miniconda3\envs\pytorch\lib\site-packages\mmcv\cnn\bricks\transformer.py:33: UserWarning: Fail to import ``MultiScaleDeformableAttention`` from ``mmcv.ops.multi_scale_deform_attn``, You should install ``mmcv-full`` if you need this module.
  warnings.warn('Fail to import ``MultiScaleDeformableAttention`` from '
---------------------------------------------------------------------

[2022-09-30 01:24] linshuchar opened #2128 "如何在主干网络中加入自定义损失函数？"
我需要在主干网络中加入两个模块，训练时要加入损失函数，看了代码好像损失都是在解码头那里

[2022-09-30 02:22] xiexinch commented on #2128
Hi @linshuchar,
MMSegmentation 实现的 EncoderDecoder 只能在解码头中加损失函数。如果您想在主干网络中加入自定义损失函数，可以自定义一个 CustomEncoderDecoder 以及 Backbone，重写 `train_step()` 方法的逻辑。

[2022-09-30 02:38] linshuchar commented on #2128
我定位到outputs = self.model.train_step(data_batch, self.optimizer, **kwargs)，训练时候返回的所有损失，是否我重新定义损失后返回给outputs就可以了？loss.backward()和优化器调整学习率的后续代码需要修改吗？具体实现在哪里呢？

[2022-09-30 02:53] xiexinch commented on #2128
参数更新的实现在底层库 MMCV 里。

https://github.com/open-mmlab/mmcv/blob/master/mmcv/runner/iter_based_runner.py#L70

https://github.com/open-mmlab/mmcv/blob/master/mmcv/runner/hooks/optimizer.py#L61

[2022-09-30 04:07] IvyGongoogle commented on #767
@PeizeSun 您好 我也遇到了这个问题 请问应该在修改哪些代码？ 谢谢~

[2022-09-30 04:18] MengzhangLI commented on #2127
Hi, you can try to follow this [doc](https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/train.md#train-with-a-single-gpu) if you want to train with signle GPU.

[2022-09-30 04:19] MengzhangLI commented on #2126
https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/segmentors/encoder_decoder.py#L245-L248

[2022-09-30 05:08] yzes commented on #2127
thanks for your reply, but i run the commond in the doc like below
python tools/train.py myconfig --gpu-id 1
my program should just run on gpu 1 but it use some memory in gpu 0, just like the image
![image](https://user-images.githubusercontent.com/50410784/193193957-bdc530e6-b7db-40be-8551-7a7e3fd1c4f4.png)
and i found the problem is caused by the code in file mmseg/utils/util_distribution.py lin

[2022-09-30 10:39] sakaridis commented on #1196
Same issue here. Any help would be highly appreciated.

[2022-10-01 03:54] liuxingyu123 opened #2130 "the parameter of cls_token and pos_embed in vit backbone dont study"
when i  use the mmsegmentation for train ,i found my cls_token and pos_embed in vit is not change after init
the code is
`self.cls_token = nn.Parameter(torch.zeros(1, 1, self.embed_dim))
self.pos_embed = nn.Parameter(torch.zeros(1, self.num_patches + 1, self.embed_dim))`
` trunc_normal_(self.pos_embed, std=.02)
trunc_normal_(self.cls_token, std=.02)`
is the issue because the following code?
`@prop

[2022-10-01 15:02] GuoSicen opened #2131 "Why is the error "CUDA out of memory" reported during the test not validation? The configs of test and validation is same."

[2022-10-01 22:31] breznak opened #2134 "[Help] How to train using a custom dataset (different labels)"
Hello, I am new to mmsegmentation,

my goal is to train a (from scratch) model on a custom dataset with different labels from supported datasets (eg. labes are ['a','b']).

I have read the tutorial on "Custom dataset" https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/tutorials/customize_datasets.md

but it only covers how to convert your data structure into a supported format (eg. c

[2022-10-03 10:59] haruishi43 opened #2137 "using wandb hook hangs distributed training"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. The bug has not been fixed in the latest version.

**Describe the bug**

- `MMSegWandbHook` does not work when training in distributed mode with multiple GPUs. It does work when using distributed mode with a single GPU.
- When training, it manages to log t

[2022-10-03 10:59] haruishi43 commented on #2137
**Error traceback**

<details>
  <summary>Error Trackback</summary>

[code]

</details>

[2022-10-03 12:49] haruishi43 commented on #2137
@ayulockin sorry for pinging you. I'm not really sure how but using only `MMSegWandbHook` does not timeout and trains. It times out only when `MMSegWandbHook` is used in conjunction with other loggers like `TextLoggerHook`.

[2022-10-03 13:10] haruishi43 commented on #2137
It's a hack, but putting `MMSegWandbHook` before other logger hooks solved the issue. I'm still curious why this is though.

[2022-10-03 15:02] FabianSchuetze commented on #13
Could we add `SegNext`?

Code: https://github.com/visual-attention-network/segnext
paper: https://arxiv.org/abs/2209.08575

The code already uses mmsegmentation.

[2022-10-05 03:19] MANDYCHAO commented on #1338
I have also encountered this problem, and after I read the mmseg document I found "correct = correct[:, target != ignore_index]" is due to there are ignore_indexes, but I have not work this out. If you solved this problem, please tell me. Thanks!

[2022-10-05 08:42] chenshaohao1998 commented on #1882
I also encounter this problem.And pin_memory=False didn't work,is there any other solution?

[2022-10-05 10:40] Yisng opened #2138 "评估性能时有一类IoU始终为0，Acc始终为nan"
训练自定义数据集，评估性能时有一类`IoU`始终为0，`Acc`始终为`nan`,如图所示，并且图中**性能指标提升不明显**，而可视化输出结果却很好
![问题](https://user-images.githubusercontent.com/91238418/194041337-0ebf3af4-12fe-4e3a-875f-ab1bad987159.png)

[2022-10-05 11:32] zan-wang opened #2139 "Error in the new version of mmseg after opening the training script"
Hi, does the new version of mmeg not support training models by itself for now? Is it because I installed mmengine in the wrong way?
Thanks for the new version of mmseg!

root@container-0b2d11bf3c-f7569f8c:~/autodl-tmp/mmsegmentation# python tools/train.py configs/aaa_dualseg/dualseg.py
Traceback (most recent call last):
  File "tools/train.py", line 7, in <module>
    from mmengine.config import

[2022-10-05 15:00] WandernForte opened #2140 "How to convert UNet to decode_head?"
[code]
it is an implementation from [segmentation_models.pytorch](https://github.com/qubvel/segmentation_models.pytorch/blob/master/segmentation_models_pytorch/decoders/unet/decoder.py)
it runs very slowly, and i don;t know whether it works or not...

[2022-10-06 01:17] shigejiafeimao commented on #2032
could you speak in details? I also want to know. please!

[2022-10-06 01:22] shigejiafeimao commented on #2032
if i use sep_aspp_head.py，how to get a feat-map?

[2022-10-06 02:00] endaoguansanlu opened #2141 "Question about pre-trained weight loading"
Hello, can mmseg load two pre-training weights, for example, a two-branch model, one branch is segformer, one branch is resnet, I will load the two pre-training weights to this two-branch model and then perform it on cityscapes segmentation.

[2022-10-06 06:44] iumyx2612 opened #2144 "Increase in memory during training"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. The bug has not been fixed in the latest version.

**Describe the bug**
After the first validation, the memory raise from 8Gb to 20Gb

**Reproduction**

1. What command or script did you run?

[code]

2. Did you make any modifications on the code or config

[2022-10-06 11:39] amarnath-asteria opened #2145 "OSError: [Errno 22] Invalid argument: 'D:\\Asteria Aerospace\\projects\\solar_roof_potential\\<input>'"
Hi,
- I have been trying to use custom dataset for PSPNet r50 training. i followed the code available in [colab ](https://github.com/open-mmlab/mmsegmentation/blob/master/demo/MMSegmentation_Tutorial.ipynb) and used 2 labels (say a and b) and converted the masks and also created the split folder.
- I am using cpu based training and below are the system details:
- Processor	11th Gen Intel(R) Core(T

[2022-10-07 04:59] tjdgus6255 opened #2146 "the last class is nan"
+-----------------------+-------+-------+
|         Class         |  IoU  |  Acc  |
+-----------------------+-------+-------+
|      _background_     | 16.65 |  83.2 |
|     circular_valve    |  0.0  |  0.0  |
|   fire_extinguisher   | 24.08 | 37.12 |
|     straight_valve    |  0.0  |  0.0  |
| fire_extinguisher_box | 15.48 | 21.92 |
|    emergency_light    |  0.09 |  0.09 |
|      flash_light

[2022-10-07 06:48] cbwznb opened #2147 "ValueError: SyncBatchNorm expected input tensor to be on GPU"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. The bug has not been fixed in the latest version.

**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction**

1. What command or script did you run?

[code]

2. Did you make any modifications on the code or config? Did you

[2022-10-07 07:09] jhaggle commented on #926
What is the difference between IterBasedRunner or EpochBasedRunner?

[2022-10-07 13:03] cbwznb opened #2149 "ValueError: Expected more than 1 value per channel when training, got input size torch.Size([1, 512, 1, 1])"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. The bug has not been fixed in the latest version.

**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction**

1. What command or script did you run?

[code]

2. Did you make any modifications on the code or config? Did you

[2022-10-07 13:12] #2147 closed

[2022-10-07 13:36] cbwznb opened #2150 "ValueError: Expected more than 1 value per channel when training, got input size torch.Size([1, 512, 1, 1])"
import mmcv
from mmseg.apis import show_result_pyplot, inference_segmentor
import numpy as np
import matplotlib.patches as mpatches
from matplotlib import pyplot as plt
from mmseg.models import build_segmentor
from mmcv import Config

cfg = Config.fromfile('configs/pspnet/pspnet_r50-d8_512x1024_40k_cityscapes.py')

img = mmcv.imread('iccv09Data/images/6000124.jpg')

model = build_segmentor(cfg.mod

[2022-10-07 13:36] #2149 closed

[2022-10-08 02:15] xiexinch commented on #2146
Hi @tjdgus6255,
This may be related to the model you used and the distribution of your data. You could try a different network or assign weights to each class when calculating the loss.

[2022-10-08 02:42] xiexinch commented on #2150
Hi @cbwznb,
You might add the following codes before inference:

[code]

or modify your codes like:

[code]

[2022-10-08 02:54] xiexinch commented on #2134
Hi @breznak,
In most cases, you just need to inherit [CustomDataset](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/custom.py), then set `CLASSES` and `PALETTE`, and finally write the dataset config file.

For example:

https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/coco_stuff.py

https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_ba

[2022-10-08 03:12] xiexinch commented on #2131
Hi @GuoSicen,
Are the test set and validation set the same? It would be better to provide the config file, and we can repeat the problem you met.

[2022-10-08 03:24] dddzhzzz opened #2152 "In RGB-D Segmentation, how to use mmsegmentation to simultaneously load RGB, HHA and its label?"
Using NUY v2 Dataset as example, I need simultaneously load both RGB and HHA (or depth) as input for model.
mmsegmentation seems like only loading one type of image and its label but loading two types of images including RGB, HHA and its label.
How can I use mmsegmentation to realize my need?  I need some suggestions.

[2022-10-08 03:47] xiexinch commented on #2130
Hi @liuxingyu123,
Did you implement ViT yourself? We didn't implement ViT in v0.6.0.

[2022-10-08 04:20] MengzhangLI commented on #2140
Hi, UNet is an encoder-decoder architecture which is a widely used backbone for segmentation model.

In MMSegmentation, its UNet decoder head uses various feature maps generated and concatenated from different stages(aka downsampling and upsampling blocks). It could be FCN, DeepLabV3 and PSPNet.

For example, the deeplabv3  as decoder head in MMSegmentation UNet:

![image](https://user-images.gith

[2022-10-08 04:27] MengzhangLI commented on #2145
It is a common error in Windows OS which is caused by different format types of file path. Perhaps path in your dataloader contains `\`, `\\` and `/` at the same time.

You can try to modify `\\` to `/` or `\`, if still get error, just use your hand typing (not copying path) to make sure the path could be parsed by your computer.

Best,

[2022-10-08 04:40] MengzhangLI commented on #2141
No. But you can defined a new backbone model which includes SegFormer backbone and ResNet , then save these two pretrained models(backbone) into one. Finally you can load this single one pretrained model.

Best,

[2022-10-08 04:43] MengzhangLI commented on #2139
Hi, this error usually happened when OpenMMLab 2.0 codebases was developing.

Could you update your environment (MMEngine, MMCV) to the latest version and try again?

[2022-10-08 04:46] xiexinch commented on #2152
Hi @dddzhzzz,
You might overwrite the `load_annotations()` method. https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/custom.py#L137

Then customize the `LoadAnnotation`  pipeline https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/pipelines/loading.py#L91.

[2022-10-08 04:51] MengzhangLI commented on #2125
Hi, sorry for late reply.

You could refer to this issue: https://github.com/open-mmlab/mmsegmentation/issues/1681

Looking forward to your reply.

[2022-10-08 07:20] cbwznb opened #2156 "The model and loaded state dict do not match exactly size mismatch for decode_head.conv_seg.weight: copying a param with shape torch.Size([8, 512, 1, 1]) from checkpoint, the shape in current model is torch.Size([19, 512, 1, 1]). size mismatch for decode_head.conv_seg.bias: copying a param with shape torch.Size([8]) from checkpoint, the shape in current model is torch.Size([19]). size mismatch for auxiliary_head.conv_seg.weight: copying a param with shape torch.Size([8, 256, 1, 1]) from checkpoint, the shape in current model is torch.Size([19, 256, 1, 1]). size mismatch for auxiliary_head.conv_seg.bias: copying a param with shape torch.Size([8]) from checkpoint, the shape in current model is torch.Size([19])."
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. The bug has not been fixed in the latest version.

**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction**

1. What command or script did you run?

[code]

2. Did you make any modifications on the code or config? Did you

[2022-10-08 08:03] xiexinch commented on #2156
Hi @cbwznb
This might be because the `num_classes` of the checkpoint is not matched with your network.
You could provide all the necessary information following this issue template. Without sufficient information, we are not able to identify the issue.

[2022-10-08 09:44] KongCang commented on #964
same config, some data work well, some data get nan! is the lr need to be smaller?

[2022-10-08 09:58] WangZan0899 commented on #2139
Thank you very much for your advice, the method works great!

By the way, in mmseg under version 1.x, the script that generates the confusion matrix seems to need to pass in the pkl file as one of the arguments. But I don't see any way to generate a pkl file in the current test script.
Although I also tried to set an extra parameter in the test script like other repositories to facilitate the gene

[2022-10-09 02:03] liuxingyu123 commented on #2130
fine, thank you for your reply.

[2022-10-09 02:39] chen-del opened #2161 "Replacing the trunk with a new network?"
2022 segnext semantic segmentation network, updated and registered to mmseg, I will replace the backbone with mobilnetv3, which can be used. Your mobilnetv3 pre-training model is directly used as the backbone network and uses pre-training weights.

[2022-10-09 03:46] dddzhzzz commented on #2152
Thank you! I have finished it!

[2022-10-09 03:46] #2152 closed

[2022-10-09 06:24] xiexinch commented on #2161
Hi @chen-del,
You might modify the backbone network at the model config, if you would not like to use pre-trained weights, just set `pretrained=None` at the model config.

[2022-10-09 06:25] #2128 closed

[2022-10-09 06:30] chen-del commented on #2161
Hi @xiexinch
Without a pre-trained model, the segmentation effect is basically poor, I mean can I use your main intervention weights and add them to my custom network.

[2022-10-09 06:36] xiexinch commented on #2161
You need to make sure that the keys of the weight and your custom network can be matched.

[2022-10-09 06:54] AnRanbel opened #2163 "run python tools/train.py on cpu get error"
**Hi,i run python tools/train.py config on cpu get the following error:**

Traceback (most recent call last):
  File "tools/train.py", line 242, in <module>
    main()
  File "tools/train.py", line 202, in main
    model.init_weights()
  File "D:\ProgramFile\Anaconda3\envs\python37\lib\site-packages\mmcv\runner\base_module.py", line 117, in init_weights
    m.init_weights()
  File "e:\pycharmproje

[2022-10-09 08:15] FelixFu520 opened #2164 "数据集build疑问"
我在调式mmsegementation库时遇到一个问题，
执行BaseSegDataset类的构造函数时，
![039ce138f074510cc33635f8bfa018b](https://user-images.githubusercontent.com/23306248/194745626-d640b47c-d038-4142-b0dd-766495681e4d.png)

执行self._join_prefix()之前，self的值如下：
![3ccb7efbeedbfa8c2263dec7a073698](https://user-images.githubusercontent.com/23306248/194745633-623b5f6b-d2f4-4b88-b46a-89bbf4d359c8.png)

但是我执行self._join_prefix()后，self值发生了

[2022-10-09 09:08] MengzhangLI commented on #2127
OK, copy that.

What happens in `GPU 1` when using `python tools/train.py myconfig --gpu-id 0`?

[2022-10-09 09:15] chen-del commented on #2161
OK, thanks

[2022-10-09 09:24] MengzhangLI commented on #2139
Do you mean this [script](https://github.com/open-mmlab/mmsegmentation/blob/1.x/tools/analysis_tools/confusion_matrix.py)?

[2022-10-09 09:27] MengzhangLI commented on #964
Perhaps it is because some data has many foreground labels while some image only has background and certain foreground which is ignored in calculating loss (denominator is zero) thus it got NaN.

[2022-10-09 09:55] FelixFu520 commented on #2164
![2a93e30154dd91385560b9f8d82c745](https://user-images.githubusercontent.com/23306248/194750212-474b46d9-1794-4d6c-9cdc-d9b7a22e64bc.jpg)
我把值打印出来了，这里为什么有两个False，这个是多线程或者多进程么

[2022-10-09 10:05] WangZan0899 commented on #2139
Yes!
parser.add_argument(
        'prediction_path', help='prediction path where test .pkl result')

[2022-10-09 10:21] FelixFu520 commented on #2164
我把线程和进程名称都输出来了
![image](https://user-images.githubusercontent.com/23306248/194751376-f8a9a882-0a91-4e38-91a3-efb52ef2756f.png)

[2022-10-09 11:38] FelixFu520 commented on #2164
我好像是找到问题了，会执行到__len__中，
![image](https://user-images.githubusercontent.com/23306248/194754784-979b807a-1928-44da-9635-918df4a94038.png)

[2022-10-09 15:44] ynhuhu commented on #2084
There are the same problems for 2 classes sementic segmentation. For multi-classes sementic segmentation it work well.

[2022-10-10 02:06] #2161 closed

[2022-10-10 02:39] xiexinch commented on #2163
Hi @AnRanbel,
You might set `map_location='cpu'` at the `init_cfg`.
An example:
[code]

[2022-10-10 02:40] FelixFu520 commented on #2164
原因找到了，是因为所有的dataset类都继承自torch.utils.data.Dataset类，而Dataset类又继承自Generic类。
当运行时不会出现上述问题，但是当debug时会出现上述问题，会调用__len__内置函数，而mmengine又对BaseDataset的__len__进行了装饰，所以会出现以上问题

备注：我只在debug时出现问题，
以下是测试代码，并不涉及openmmlab上的内容
[code]

[2022-10-10 02:40] FelixFu520 commented on #2164
原因找到了，是因为所有的dataset类都继承自torch.utils.data.Dataset类，而Dataset类又继承自Generic类。
当运行时不会出现上述问题，但是当debug时会出现上述问题，会调用__len__内置函数，而mmengine又对BaseDataset的__len__进行了装饰，所以会出现以上问题

备注：我只在debug时出现问题，
以下是测试代码，并不涉及openmmlab上的内容
[code]

[2022-10-10 02:40] FelixFu520 commented on #2164
原因找到了，是因为所有的dataset类都继承自torch.utils.data.Dataset类，而Dataset类又继承自Generic类。
当运行时不会出现上述问题，但是当debug时会出现上述问题，会调用__len__内置函数，而mmengine又对BaseDataset的__len__进行了装饰，所以会出现以上问题

备注：我只在debug时出现问题，
以下是测试代码，并不涉及openmmlab上的内容
[code]

[2022-10-10 03:14] chen-del opened #2166 "Training appears, argument 'input' (position 1) must be Tensor, not NoneType"
2022-10-10 11:10:22,528 - mmseg - INFO - Loaded 20210 images
2022-10-10 11:10:23,983 - mmseg - INFO - Loaded 2000 images
2022-10-10 11:10:23,984 - mmseg - INFO - Start running, host: dell@dell-Precision-7920-Tower, work_dir: /home/dell/bag-torch/darkpull/Paddle/mmsegmentation/work_dirs/segnext.small.512x512.voc.160k
2022-10-10 11:10:23,984 - mmseg - INFO - Hooks will be executed in the following o

[2022-10-10 06:46] dddzhzzz opened #2168 "In mmsegmentation， how to only save the checkpoint of best mIoU when train or val ?"

[2022-10-10 08:56] MengzhangLI commented on #2166
Hi, we do not support SegNeXt yet, you can raise the issue in [SegNeXt](https://github.com/Visual-Attention-Network/SegNeXt) repo.

Best,

[2022-10-10 08:58] MengzhangLI commented on #2168
You can read this issue: https://github.com/open-mmlab/mmsegmentation/issues/130.

[2022-10-10 09:04] chen-del commented on #2166
Well, thank you, I have tuned in mmseg, and I can train normally now.

[2022-10-10 11:50] MengzhangLI commented on #2166
Cool! So what reason causes the error you mentioned before?

[2022-10-10 12:59] #2163 closed

[2022-10-10 13:42] AnRanbel opened #2170 "run tools/train.py get error:AssertionError: Torch not compiled with CUDA enabled"
**Hi,i want debug on a machine without gpu first, i run tools/train.py config, and i have set**
`backbone=dict(init_cfg=dict(type='Pretrained', checkpoint='../pretrained/mscan_t.pth', map_location='cpu')),`

**my configuration is as follows:
Windows 10
PyTorch: 1.12.1+cpu
TorchVision: 0.13.1+cpu
OpenCV: 4.6.0
MMCV: 1.6.0
MMCV Compiler: MSVC 192930140
MMCV CUDA Compiler: not available
MMSegmentatio

[2022-10-11 03:03] yzes commented on #2127
sorry for my late answer
when using `python tools/train.py myconfig --gpu-id 0 `
the programe won't use memory in gpu 1

[2022-10-11 05:08] MeowZheng commented on #2138
please check is there `nan` in the original label data of  your dataset

[2022-10-11 05:15] MeowZheng commented on #2119
It might be a little unreasonable.

If you run this script many times, and the speed is increased every time, i.e. the inference time drops every time. Will time drop to 0? This is clearly not possible.

[2022-10-11 06:40] chen-del commented on #2166
When reproducing, the backbones structure was adjusted, and there was a deviation in the implementation of the class, which caused the data input into the backbone network to become none, that is, a null value. I made a mistake in the template definition of bankbone.

[2022-10-11 06:50] tjdgus6255 commented on #2146
Hello.

According to your advice, I replaced the model (deeplabv3 -> pspnet) and dataset format(coco -> voc)

But I got a same issue.

I used the annotation tool of the link below. After annotation, we got annotation images (voc format)

annotation tool : https://github.com/wkentaro/labelme

(In fact, I still don't know what dataset format means... ex. kitti, voc, ...etc. Exactly, I'm not sure tha

[2022-10-11 08:39] dddzhzzz commented on #2168
OK.

[2022-10-11 08:39] #2168 closed

[2022-10-11 09:00] shengyi4 commented on #1979
Thanks for your reply! I really appreciate it. I just followed
upernet_swin_tiny_patch4_window7_512x512_160k_ade20k_pretrain_224x224_1K.py

without changing the training part, (just changed dataset, number of class). Will it cause any problems? Thanks!

On Aug 31, 2022, at 3:22 AM, 谢昕辰 ***@***.***> wrote:

﻿

Hi @shengyi4<https://urldefense.com/v3/__https://github.com/shengyi4__;!!DZ3fjg!759vLkve2

[2022-10-11 09:05] C-Jaewon opened #2171 "I want to train 3-channel greyscale image."
my datasets : The pixels of text are close to 0, and the pixels of background are close to 1.
my datasets is 3-channel grayscale imges. I want to train 3-channel grayscale images, not binay images.
I want the learning result to have a value of (0, 1). -> 0 ~ 1

Thanks

[2022-10-11 09:21] xiexinch commented on #2146
Hi @tjdgus6255,
Could you provide more information like pytorch version, mmseg version, mmcv version, etc? Or you could try SegFormer-b2, it's much more robust.
And I think this should not be due to the data format.

[2022-10-11 15:43] #2170 closed

[2022-10-11 16:56] PangziZhang523 opened #2172 "Torch2onnx, how to output the logit value instead of the value after argmax"

[2022-10-12 01:05] tjdgus6255 commented on #2146
Hello.

My environment here..
-------------------------------------------------
os                                ubuntu 18.04
python                         3.7.13
pytorch                        1.10.1+cu111
mmcv-full                     1.6.0
mmsegmentation         0.25.0
-------------------------------------------------

[2022-10-12 03:49] tjdgus6255 commented on #2146
+-----------------------+-------+-------+
|         Class         |  IoU  |  Acc  |
+-----------------------+-------+-------+
|   fire_extinguisher   | 23.05 | 38.18 |
|     straight_valve    | 23.95 | 42.54 |
| fire_extinguisher_box |  58.6 |  81.8 |
|    emergency_light    |  0.0  |  0.0  |
|      flash_light      | 48.59 | 78.15 |
|     circular_valve    |  0.08 |  0.08 |
|      _background_

[2022-10-12 20:24] ghoshsdeep opened #2177 "Runtime Error : unexpected EOF, expected 68801193 more bytes. The file might be corrupted"
Hello,
I was following the docs https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/get_started.md#installation
to build the target codebase for mmsegmentation
After installing the prerequisites and cloning the repo ,when I run this command
python demo/image_demo.py demo/demo.png configs/pspnet/pspnet_r50-d8_512x1024_40k_cityscapes.py pspnet_r50-d8_512x1024_40k_cityscapes_20200605_003

[2022-10-13 02:28] #2120 closed

[2022-10-13 02:29] #2035 closed

[2022-10-13 02:35] #2166 closed

[2022-10-13 05:59] chen-del opened #2181 "bankbone fix the problem?"
When I replaced the bankbone with movlibnetv3, the problem of understanding the port index does not correspond, can you help me and let me know how to modify it? Thanks! please
[psp_head.log](https://github.com/open-mmlab/mmsegmentation/files/9771218/psp_head.log)

[2022-10-13 06:44] YtengTan opened #2182 "Having trouble with reproducing pre-train model mIoU scores"
Thanks for the wonderful tool!

When I try to reproduce the mIoU scores reported in the model zoo, following the instructions from the documentation.
[https://mmsegmentation.readthedocs.io/en/latest/tutorials/training_tricks.html#class-balanced-loss](url)

I obtained very strange results that most of the class's IoU scores are pretty low, and the summary mIoU is far away from reported in [https://

[2022-10-13 07:10] YtengTan commented on #2182
Forgot this data pre-processing, fixed.
https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/dataset_prepare.md#cityscapes

[2022-10-13 07:11] #2182 closed

[2022-10-13 08:14] MeowZheng commented on #2177
I think this file  pspnet_r50-d8_512x1024_40k_cityscapes_20200605_003338-2966598c.pth might be broken, please download a new one.

[2022-10-13 08:17] MeowZheng commented on #2117
Can you provide more details, like the model and the config you used?

[2022-10-13 08:21] MengzhangLI commented on #2144
Hi, @iumyx2612 Sorry for late reply. This is a very good question.

After discussion and debug in the past few days, we have drawn a primitive conclusion.

First, this phenomenon is caused by peak memory on validation, it is not REAL memory in training. It is caused by mmcv in MMSeg v0.x only reports peak memory. You could found [here](https://github.com/open-mmlab/mmcv/blob/ea173c9f07f0abf6873d2b

[2022-10-13 09:39] MengzhangLI commented on #2181
[code]

It usually caused by output feature maps of different backbone do not have same shape or number. You can check out your original backbone output size and shape then make sure your decoder head could match the shape and number of your new backbone output.

[2022-10-13 09:45] MengzhangLI commented on #2145
Sorry for late reply.

`i am sure this is the error but i am unable to track it to the origin. it is loading the images but which input is it talking about?` Sorry I do not understand what you mean.

Could you run MMSegmentation codebase normally in your Windows OS computer? Looking forward to your reply.

[2022-10-13 09:48] chen-del commented on #2181
@MengzhangLI ，Thank you, where do I need to set the output so that I can confirm the output of the bankbone feature map and print it out so that it can be matched. At the same time, if I can’t confirm it, I may have to reconfigure the step size and kernel_size of the convolution kernel, yes Well? Sorry, I haven't been in touch with this change to the backbone network for a long time, and I am not

[2022-10-13 11:34] lojzezust commented on #2105
Hi! I've had the same error. The issue seems to be caused by commit c1c942e8, which added the `out_channels` attribute to `BaseDecodeHead`. Since `IterativeDecodeHead` bypasses the `BaseDecodeHead` initialization, the attribute is not set and leads to errors.

A temporary fix for me was to use set `self.out_channels = self.num_classes` in the `__init__` method of `IterativeDecodeHead`.

However, a

[2022-10-13 15:50] iumyx2612 commented on #2144
[code]
**Q1.** In validation phase, the size of images in ADE20K is resize to `(img_scale=(2048, 512))`. So the 20Gb is the memory of doing inference by Segformer ( in this case, Segformer-B1) on **one** image right?
**Q2.** And the 20Gb is only in validation phase right? In next training phase it resets to 8Gb but MMCV forgot to use `torch.cuda.reset_peak_memory_stats()` so the log keeps showing

[2022-10-13 15:50] #2144 closed

[2022-10-14 01:53] AnRanbel opened #2188 "Is there a way to get both mIoU and mFScore evaluation results"
Hi,I want to get the evaluation results of mFScore and mIoU at the same time.Is there a way to get it? my mmseg version is 0.24.1.

[2022-10-14 09:58] MengzhangLI commented on #2125
Hi, when setting `reduce_zero_label=True`, it would minus 1 in annotation, see [here](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/pipelines/loading.py#L145-L149). If you are doing binary segmentation task, you could try to set `reduce_zero_label=False` and `num_classes = 1`.

Best,

[2022-10-14 10:41] verifiedanswer commented on #1567
[[Solved] ImportError: libGL.so.1: cannot open shared object file: No such file or directory](https://verifiedanswer.com/importerror-libgl-so-1-cannot-open-shared-object-file-no-such-file-or-directory/)

[2022-10-14 11:37] euphoria0-0 opened #2189 "RuntimeError: Default process group has not been initialized, please make sure to call init_process_group."
Hi, all.
I'm a newbie in mm framework.
Currently, I have a problem using MAE model.

In MAE, they use LayerNorm in backbone model. Actually, it's default setting in MAE implementation in mmseg.

Here, I want to use single GPU, so I modified ```SyncBN``` to ```BN``` in ```decode_head``` and ```auxiliary_head```.
I used default ```LN``` in ```backbone```.

However, it seems there's a problem with di

[2022-10-14 12:03] xiexinch commented on #2188
Hi @AnRanbel,
For testing, you might run:
[code]
For training evaluation, you might add metrics to the config file, default setting at `configs/schedules/schedules_x.py`:
[code]

[2022-10-14 12:12] xiexinch commented on #2189
Hi @euphoria0-0,
You should also modify the `norm_cfg` of the `neck`.
https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/models/upernet_mae.py#L21
https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/necks/featurepyramid.py#L25

[2022-10-14 13:46] #2172 closed

[2022-10-14 13:59] euphoria0-0 commented on #2189
I solved this issue. Thank you!

[2022-10-14 13:59] #2189 closed

[2022-10-16 08:22] #2188 closed

[2022-10-16 08:30] AnRanbel opened #2195 "is there a way to get the number of parameters for the model"
generally, i use the following way to get it.
[code]

but in mmsegmentation, class EncoderDecoder has not parameters method.

so,is there a another way to get it.

[2022-10-16 11:04] ydhongHIT opened #2196 "The variance of segmenter"
As said in the readme, the model is sensitive to the seed. Could you provide the variance? It may help readers better understand the performance. And whether the plain ViTs have the similar phenomenon, such as BEiT?

[2022-10-16 14:31] weiaicunzai commented on #130
Hi, I have more than one metric to eval my model during training (e.g.  F1, dice, hausdorff).
Can I save checkpoints if any of these three metrics achieved a better result?
Is this feature supported? I have read the source code. It seems that it currently only supports one metric during training?

[2022-10-16 14:49] ydhongHIT commented on #1927
Hi, have you reproduced such high mIoU? I think that the fluctuation of semantic segmentation datasets (Cityscapes, Ade20k) is very huge compared to object detection (COCO). It means that different random seeds may bring obvious performance variation. At least, that's what my experiments with MMsegmentation say. I don't know how those papers report the performance. Maybe running many times and rep

[2022-10-16 14:53] ydhongHIT commented on #1927
I estimate that the variance of some sota methods such as segmenter and BEiT is more than 1% mIoU.

[2022-10-17 03:27] wllzq126 commented on #2146
I met the some problem, then I changed some paramers in register data module。
before I wrote it like this:
    def __init__(self, **kwargs):
        super(guangfu, self).__init__(
            img_suffix='.JPG',
            seg_map_suffix='.png',
            ignore_index=255,
            **kwargs)
after I changed it like this:
    def __init__(self, **kwargs):
        super(guangfu, self).__init__(

[2022-10-17 04:01] tjdgus6255 commented on #2146
Thanks for replying. I solved it.

I replaced dataset_type('CustomDataset' -> 'PascalVOCDataset') and modified 'mmseg/evaluation/class_names.py', 'mmseg/datasets/voc.py'

[2022-10-17 04:01] #2146 closed

[2022-10-17 04:54] sunghyun-nam opened #2197 "Problem1. Other palette colors are applied / Problem2. Train 2 classes"
Problem 1.
Train was successful. But there is a weird thing.

When I run demo file with trained model, It shows different colors defined in scripts('mmseg.core.evaluation.class_names.py' and 'mmseg.datasets.voc.py')

Problem 2.
When I trained with custom datasets(num_classes=2 --- '_background_',  'emergency_light'), emergency_light's IoU / ACC were '0.0' / 'nan'.

You know how to solve it?

[2022-10-17 05:47] #2195 closed

[2022-10-17 13:01] CASlzwde opened #2199 "[MAE} the config and result of mae-large model are still not provided"

[2022-10-17 15:48] MengzhangLI commented on #2199
Hi, supporting MAE-Large model in MMSegmentation is not in our developing plan because lack of human resources. And [mmselfsup](https://github.com/open-mmlab/mmselfsup/tree/master/configs/selfsup/mae) also only supports MAE-Base. If you really want it we are looking forward to any PR by you or other community members. We would review it ASAP.

Best,

[2022-10-17 15:58] MengzhangLI commented on #2197
Hi:
A1: I checked the [mmseg.datasets.voc.py](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/voc.py#L21-L25) and [mmseg.core.evaluation.class_names.py](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/core/evaluation/class_names.py#L182-L186) and found they are both:

[code]
Could you clearify which class in which dataset is not identical? Thanks. (Perhaps I

[2022-10-17 16:08] MengzhangLI commented on #2181
Sorry for late reply. I suggest you (1) download certain checkpoints we provide in model readme and (2) use IDE (like PyCharm) to debug. For example, you could add a break-point [**here**](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/segmentors/encoder_decoder.py#L67), and you can check the shape of `x` (i.e., the output feature map list of backbone model). The most import

[2022-10-17 16:20] MengzhangLI commented on #2196
Hi, OpenMMLab would implement regression benchmark i.e., **re-implement some training and inference (using provided checkpoints from config README) regularly to ensure our results can be implemented and correct**. At the early of 2022, we found our Segmenter regression results were much lower than config results. For example, `segmenter_vit-t_mask_8x1_512x512_160k_ade20k.py` in readme is `39.99` b

[2022-10-18 02:20] tjdgus6255 commented on #2197
Hi
Thank you for replying
**A1**
I modified CLASSES and PALETTE for my dataset. And the order of CLASSES and PALETTE is same in the mmseg.datasets.voc.py and mmseg.core.evaluation.class_names.py
All classes are not identical except '_background_'.
[code]
**A2:**
**reduce_zero_label = False / num_classes = 1**
[code]
**reduce_zero_label = True / num_classes = 1**
[code]

[2022-10-18 03:47] duduzai2019 opened #2200 "Ablation experiments about Deeplabv3plus"
In the ablation experiments remove the aspp and c1_output module in the mmseg/models/decode_heads/sep_aspp_head.py, but with little change, the miou maintained at around 80％,
What is rong? has been troubing me for a long time!

[2022-10-18 03:48] duduzai2019 commented on #2200
In the ablation experiments remove the aspp and c1_output module in the mmseg/models/decode_heads/sep_aspp_head.py, but with little change, the miou maintained at around 80％,
What is wrong? has been troubing me for a long time!

[2022-10-18 04:03] apiss2 opened #2201 "Binary segmentation does not work well because the loss is always zero. (Reproduction code available)"
I tried to do a binary segmentation on a dataset that I defined myself, but the CrossEntropyLoss is always around 0 and the training does not progress.
I get a model that always predicts positive for all of the images.

Is there something wrong with the config settings?

Attached below is the code to reproduce this in google colab.

1. install mmsegmentation and download dataset
[code]

2. visuali

[2022-10-18 04:36] MengzhangLI commented on #2197
A1: If you modified palette in your dataset class, the palette code uses is from that dataset class rather than [mmseg.core.evaluation.class_names.py](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/core/evaluation/class_names.py#L182-L186).

A2: It is because it is not binary segmentation task, could you try to set `num_classes=2`?

[2022-10-18 04:41] MengzhangLI commented on #2201
Could you try to set `num_classes= 2` to see whether it is caused by wrong config setting. You can follow similar dataset setting [here](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/drive.py#L17) and related [config](https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/datasets/drive.py).

[2022-10-18 04:49] MengzhangLI commented on #2200
Hi, from the [DeepLabV3+ paper](https://arxiv.org/pdf/1802.02611.pdf) figure it shows the `c1_output` (the yellow boxes below) contains low-level features which is very important for dense prediction tasks (such as semantic segmentation).

![image](https://user-images.githubusercontent.com/24582831/196337911-ba086421-320f-4f3c-9ff2-6ee26ae5cbd2.png)

[2022-10-18 06:10] apiss2 commented on #2201
Thanks for your quick response!
I followed your advice and changed the config to `num_classes=2`, but it did not improve.

However, I found that removing the changes to out_channels and threshold, in addition to the above changes, resulted in successful learning.
Thank you!

Is it wrong to set out_channels to 1 for binary segmentation?
It seems redundant to set out_channels to 2.

[2022-10-18 06:14] duduzai2019 commented on #2200
Thanks for your answer, i understand how it works, but i want to remove both modules in mmsegementation, Do i have a problem modifying it like this?  (mmseg/models/decode_heads/sep_aspp_head.py class DepthwiseSeparableASPPModule)
![BH$O3@FQ8U9PP2K9B19%S$J](https://user-images.githubusercontent.com/96464964/196349217-16872a5c-966a-47a5-98f7-4ec7ec09fd41.png)
Thanks again for your answer

[2022-10-18 06:19] MeowZheng commented on #2201
please set
[code]

[2022-10-18 06:19] duduzai2019 commented on #2200
Hi, The mmsegementation effect is so good. i want to make the effect worse. Are there any suggestions?

[2022-10-18 06:20] BinhuiXie opened #2203 "About throughput"
Hi guys,

How can I only test throughput in this framework?

Thanks.

[2022-10-18 06:27] MeowZheng commented on #2197
I have a little question about your dataset, does it only have 2 kinds of labels? Did you merge all classes expect flash_light?

[2022-10-18 06:29] apiss2 commented on #2201
By setting use_sigmoid=True, we were able to successfully learn even when out_channels=1.
Appreciate your support!

[2022-10-18 06:29] #2201 closed

[2022-10-18 06:42] MeowZheng commented on #2181
please refer https://github.com/open-mmlab/mmsegmentation/tree/master/configs/mobilenet_v3

[2022-10-18 07:49] MengzhangLI commented on #2050
Hi, sorry for late reply. Did you solve your problem?

You can have a look at https://github.com/open-mmlab/mmsegmentation/issues/2201 by setting `num_classes=1` and `use_sigmoid=True` in `CrossEntropyLoss`.

[2022-10-18 07:52] MengzhangLI commented on #2050
From your log could you keep every parameter in config except setting `reduce_zero_label=False`? Thx.

[2022-10-18 08:15] fingertap commented on #1927
Hi, no I did not reproduce this score. There are variance, indeed. However, I believe the comparison should at least be using the same random seed to ensure the initialization of the networks is the same. Running the model with multiple random seeds are too wasteful for calculation resources.

[2022-10-18 09:04] ydhongHIT commented on #2196
Thanks for your reply. But I notice that the seed of segmenter is very strange. How did you determine the random seed?

[2022-10-18 14:09] MengzhangLI commented on #2203
Hi, what does `throughput` mean?

If you want to start to use MMSegmentation, please follow [get_started.md](https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/get_started.md#installation).

[2022-10-18 16:24] mangelroman commented on #2105
This temporary fix works for me as well, many thanks.

[2022-10-18 21:24] tsathya98 opened #2208 "How to use Cross entropy loss for single class custom segmentation??"
I have a single class with 1 pallette. I applied num_classes=1 and reduce_zero_label = False.

I tried to run swin_large with Loss under decode_head as:
loss_decode=dict(
    type='CrossEntropyLoss', use_sigmoid=True, loss_weight=1.0)),

and under auxiliary_head as:
loss_decode=dict(
    type='CrossEntropyLoss', use_sigmoid=True, loss_weight=0.4)),

I got the error:
AssertionError: For pred with s

[2022-10-19 00:44] MengzhangLI commented on #2208
Hi, for binary segmentation task, your setting of config file is correct. But you should have at least TWO classes and palettes, for example, one is background and the other is foreground.

Best,

[2022-10-19 01:48] fineday0505 commented on #1520
Even though I cannot point out what the problem is unless seeing your code,
you have to change the "use_sigmoid" from "False" to "True" in "CrossEntropyLoss" when you use binary_cross_entropy.
I wish this may help you.

[2022-10-19 02:59] Limingxing00 opened #2209 "Pascal Context download"
Hi,

I cannot download Pascal Context dataset from [here](https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/dataset_prepare.md#pascal-context).

This url (http://host.robots.ox.ac.uk/pascal/VOC/voc2010/VOCtrainval_03-May-2010.tar)  may be uncorrected.

Best,

[2022-10-19 03:29] MANDYCHAO commented on #342
I meet this problem, too. Have you solved it ?

[2022-10-19 03:45] MANDYCHAO commented on #2208
Maybe you can try to use BCEloss ? It is used in binary classification, and its full name is binary cross entropy loss.

[2022-10-19 04:59] MengzhangLI commented on #2209
Hi, thanks for your feedback. We noticed that dataset can not be downloaded successfully right now.

![image](https://user-images.githubusercontent.com/24582831/196601099-1a96e76f-f61b-40e8-9d40-5bd545827456.png)

Its IP can be connected but no response. We would update dataset downloading link as soon as possible if Pascal Context can not be downloaded.

[2022-10-19 05:01] MengzhangLI commented on #2208
[code]

In the setting above, it is actually [BCELoss](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/losses/cross_entropy_loss.py#L241-L242). The question is probably dataset at least should have two classes in MMSegmentation.

[2022-10-19 06:50] tsathya98 commented on #2208
Thank you for immediate responses.
As recommended by @MengzhangLI, I have changed it to 2 classes with
CLASSES = ('bg','h')
PALETTE = [[0, 0, 0],[255,255,255],]
And changed num_classes to 2.

I am getting a different error which is given below:

../aten/src/ATen/native/cuda/IndexKernel.cu:91: operator(): block: [120,0,0], thread: [5,0,0] Assertion `index >= -sizes[i] && index < sizes[i] && "index

[2022-10-19 08:25] tjdgus6255 commented on #2197
--> A1: I also modified CLASSES and PALETTE in voc.py

--> A2: The variable was set like that on my first trial, and the result is shown at the top.
Problem 2.
When I trained with custom datasets(num_classes=2 --- 'background', 'emergency_light'), emergency_light's IoU / ACC were '0.0' / 'nan'.

[2022-10-19 08:30] tjdgus6255 commented on #2197
Problem 1 ---> I use dataset with 7 labels
Problem 2 ---> I use dataset with 2 labels

Datasets were merged only those contained in the label.

[2022-10-19 10:11] MengzhangLI commented on #2208
Please check this issue: https://github.com/facebookresearch/detectron2/issues/2837.

It seems like a PyTorch bug. Just Update your PyTorch, MMCV and MMSegmentation which are compatiable with each other and try again.

[2022-10-19 13:00] rumozam opened #2211 "Log test results to Tensorboard during training?"
Hi there! Thank you for putting so much time and effort into mmsegmentation!
Is there an option that makes it possible to evaluate not only on the validation set but also on the test set during training, and then log it, such that it can be displayed in Tensorboard?
I.e. I would like to have not only the train and val results on Tensorboard, but also the test results, because Tensorboard makes a r

[2022-10-19 13:15] a979797979797 opened #2212 "The cascade model is not work"
Hi,

Thanks for all your work.
I tried to make a easy cascade FCN model like this.

[code]

And I do a binary segmentation on a dataset that I defined myself. it can run on any model, but my model have TypeError: forward_train() takes 5 positional arguments but 6 were given.

[code]

what could i try to solve it, thank you!

[2022-10-20 02:41] MeowZheng commented on #2211
You can try to revise the test/val dataset config and make it same as train dataset.

If you would like to use MMSeg1.0.0rc0 with Tensorboard, please refer to the visualization.md, https://github.com/open-mmlab/mmsegmentation/blob/dev-1.x/docs/en/user_guides/visualization.md

[2022-10-20 04:34] shendu0321 opened #2213 "当训练coco_stuff164k数据集中，训练过程中验证时报died with <Signals.SIGKILL: 9>，进程杀死"
基础信息
sys.platform: linux
Python: 3.7.13 (default, Mar 29 2022, 02:18:16) [GCC 7.5.0]
CUDA available: True
GPU 0,1: NVIDIA GeForce RTX 3090 Ti
CUDA_HOME: None
GCC: gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
PyTorch: 1.7.0
PyTorch compiling details: PyTorch built with:
  - GCC 7.3
  - C++ Version: 201402
  - Intel(R) oneAPI Math Kernel Library Version 2021.4-Product Build 20210904 for Intel(R) 64 arc

[2022-10-20 08:14] rumozam commented on #2211
Thank you! I will try to add a new EvalHook for the test data.

[2022-10-20 08:38] a979797979797 commented on #2212
The INFO
[code]

[2022-10-20 10:29] tsathya98 commented on #2208
@MengzhangLI
I have verified the versions.
And I have tried running with the Dockerfile provided with this repo, not modifying the versions in it.

The output logs obtained from the docker container is provided below:

Assertion `index >= -sizes[i] && index < sizes[i] && "index out of bounds"` failed.
/opt/conda/conda-bld/pytorch_1646755903507/work/aten/src/ATen/native/cuda/IndexKernel.cu:91: oper

[2022-10-20 12:54] androbaza opened #2214 "[BUG] 'Slide' inference mode does not perform as expected"
**Describe the bug**
I trained a model that has an extremely small image features (around 5-20px in size), while having a 6000px sized images. Overall the situation is similar to satellite image segmentation. The bug is that test_cfg mode='slide' performs inadequately during inference -- the performance is worse than mode='whole' almost all the time. I tested difference crop_size and stride combin

[2022-10-20 13:23] #2211 closed

[2022-10-20 13:52] MengzhangLI commented on #2213
Hi, this error is usually caused by memory shortage or leaking. Could you try to check out memory usage during validation?

For example, type `dmesg` command below to checkout what killed process and why:

[code]

Ref: https://www.dounaite.com/article/625c1a2eae87fd3f79677b81.html.

[2022-10-20 14:30] a979797979797 commented on #2212
I know where the prolems is. Thank you

[2022-10-20 14:39] jhaggle commented on #2112
Restarting from the first checkpoint - 'checkpoints/pspnet_r50-d8_512x1024_40k_cityscapes_20200605_003338-2966598c.pth' - is time-consuming so it would be good to find another way than killing the kernel and restart.

How do I set use --auto-resume when running with jupyter notebook? Setting cfg.autoresume does NOT work.

 I also trying to comment out the line you mentioned, i.e. ` model = build_s

[2022-10-20 17:45] #2212 closed

[2022-10-21 08:55] dddzhzzz opened #2217 "How to use Dockerfile to build a mmsegmentation project in Docker?"
There is a Dockerfile  in mmsegmentation  project.
How can I use it to build mmsegmentation's environment on Linux?

[2022-10-21 16:05] jhaggle opened #2221 "Accuracy not improving"
I am following this tutorial:
https://github.com/open-mmlab/mmsegmentation/blob/master/demo/MMSegmentation_Tutorial.ipynb

After one quick run with `cfg.runner.max_iters = 200` I get Accuray 99.14% for the background, 93% for class A and 94 % for class B.
When I increase number of iterations to `cfg.runner.max_iters = 4000` the result hardly improves. Why does the result not improve? What can I do

[2022-10-23 18:36] MengzhangLI commented on #2221
Hi, if you work on your own dataset, could you try larger maximum itertaions?

From config files you can see MMSegmentation uses large iteration numbers during training, from [20k to 320k](https://github.com/open-mmlab/mmsegmentation/tree/master/configs/_base_/schedules). Although our commonly used iteration number is 40k, 80k and 160k, they are all much larger than 2k or 4k which you use in your

[2022-10-23 18:50] MengzhangLI commented on #2214
Hi, sorry for late reply.

From your description and your four visualization results, although I do not know details right now, it is probably caused by `slide` test mode. Because in many cases mIoU of `slide` is better than `whole`, when difference between crop size and image original size is much smaller than your case.

And from figures above, `256 px` in training and `1000 px` whole inference

[2022-10-23 20:05] jhaggle opened #2223 "Ignore specified label index in loss calculation – how to use?"
I am following this tutorial and use my own custom data-set with two classes plus the background class:
https://github.com/open-mmlab/mmsegmentation/blob/master/demo/MMSegmentation_Tutorial.ipynb

And I am reading about “Training tips” in this tutorial:
https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/tutorials/training_tricks.md

I want to try and set avg_non_ignore=True and ignor

[2022-10-23 21:06] jhaggle opened #2224 "Setting reduce_zero_label and other parameters in jupyter notebook config"
I am following this tutorial and use my own custom data-set with two classes plus the background class:
https://github.com/open-mmlab/mmsegmentation/blob/master/demo/MMSegmentation_Tutorial.ipynb

I want to experiment with e.g. set things as reduce_zero_label, ignore_index, loss weight etc. How to set that in the config when running the jupyter notebook tutorial? Or should it be set elsewhere?

[2022-10-24 03:11] WuTao-CS commented on #1179
Hi~, has this issue been resolved? Will mmseg support such multi-input single-output models? @MengzhangLI

[2022-10-24 03:29] wshunli commented on #2002
It works, thank you very much.

[2022-10-24 03:29] #2002 closed

[2022-10-24 06:22] MeowZheng commented on #2217
https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/get_started.md#using-mmsegmentation-with-docker

[2022-10-24 06:35] endaoguansanlu opened #2225 "How to use multiple loss functions at different stages"
Hello, how should I use multiple loss functions in the training process? In the document, there is only an introduction to the combination of multiple loss functions in the final stage of the model, but if I want to use the first Block and the last Block of ResNet Each uses a loss, how should I do it? Looking forward to your reply！

[2022-10-24 07:51] MengzhangLI commented on #2225
Use `in_index` of xxx_head to control input of decoder head or auxiliary head, which are also the output feature map of backbone. Take UNet for example, [decoder head](https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/models/fcn_unet_s5-d16.py#L26)
 is 4 and [auxiliary head](https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/models/fcn_unet_s5-d16.py#L39)

[2022-10-25 02:18] chen-del opened #2228 "How are some layers exported?"
I did not add the argmax layer during the training process, but I want to add the argmax layer when exporting the model. How do I set it up, or I want to add it in the training, and how should I set it?

[2022-10-25 03:05] xiexinch commented on #2224
Hi @jhaggle,
You might take a look at our documentation. https://mmsegmentation.readthedocs.io/en/latest/tutorials/config.html
`reduce_zero_label` is a parameter of the Dataset and LoadAnnotation pipeline. https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/custom.py#L90
https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/pipelines/loading.py#L95
`ignore_ind

[2022-10-25 03:08] xiexinch commented on #2223
Hi @jhaggle,
The pull request might help. https://github.com/open-mmlab/mmsegmentation/pull/2206/files.

[2022-10-25 03:41] endaoguansanlu commented on #2225
Thanks a lot for your answer! I have another question to ask for your help, can mmseg use multiple auxiliary headers at the same time?

[2022-10-25 05:40] MengzhangLI commented on #2225
It can be, here is an example: https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/models/bisenetv2.py#L28-L77

[2022-10-25 06:46] endaoguansanlu commented on #2225
My problem is solved, thank you for your kind advice！！

[2022-10-25 11:21] androbaza commented on #2214
Thank you a lot. I tried to understand myself what was wrong with the `slide` method, but have not seen anything off.

I also started thinking about cropping the images for inference and putting them back together, but putting tiles back together is quite cumbersome task and takes quite a lot of time to figure out. I will wait for your conclusion.

[2022-10-25 12:26] MengzhangLI commented on #2214
OK, we would try to figure it out in this and next month (sorry about that since we are busy developing other tasks). I suggest you try to use similar script like [iSAID](https://github.com/open-mmlab/mmsegmentation/blob/master/tools/convert_datasets/isaid.py#L151-L162). For example, in training set, it could crop each images to 896x896 with 50% overlap (overlap_area=384), in validation or test se

[2022-10-25 20:36] AndrewTKent commented on #2137
Here is how I did mine, I think the issue I was having was with having one interval for MMSegWandbHook and another for TextLoggerHook

log_config = dict(
    interval=10,
    hooks=[
        dict(type='MMSegWandbHook',
             init_kwargs={
                 'entity': "nexterarobotics",
                 'project': "Progress_Tracking_V1",
                 'name': "mask2former_beit_adapter_large

[2022-10-26 09:08] YuchenKid commented on #1338
I find a very strange solution to this error. When I change the binary mask I generated from png to jpg (the so called annotations or labels required for segmentation training), the error shows. When I switch back to png, the error disappears.

[2022-10-26 10:09] ZetaLx commented on #1338
This is not surprising and is the correct solution. Because the jpg image
is compressed, the image information will be lost and the pixel value of
the label will be wrong. But png will not be compressed, so segmentation
tags should be saved in png format. I had this problem before.

SHI Yuchen ***@***.***> 于2022年10月26日周三 18:08写道：

[2022-10-26 15:58] waqarsqureshi commented on #317
Does this mean the stem block downsample from 512 x 512 to 64 x 64*64, which is 8 times down sampling

[2022-10-26 21:12] AndrewTKent opened #2235 "Training ADE20K using ./dist_train.py won't allow me to evaluate mid-training"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help. Yes
2. The bug has not been fixed in the latest version. Yes

**Describe the bug**
A clear and concise description of what the bug is.

As the title suggests, when training via dist_train.sh I am not able to get past the evaluation stage of the training proce

[2022-10-26 21:21] AndrewTKent opened #2236 "Validation Metrics Don't Save to WandB Via MMSegWandbHook"
**Motivation**
I am able to see the training loss metrics logged into my WandB account using MMSegWandbHook, but I'd much prefer to see validation metrics like mIoU or mAcc across iterations - even if I am only able to see them during iterations where I am preforming an evaluation.

To my knowledge MMSegWandbHook doesn't allow for this, and I've tried looking -

[2022-10-27 02:15] #2225 closed

[2022-10-27 02:24] endaoguansanlu opened #2237 "TypeError: forward() got an unexpected keyword argument 'weight'"
When I use multiple loss functions, this problem occurs, but when I use only one loss function, I don't have this problem, where is the problem? Looking forward to your reply!

Traceback (most recent call last):
  File "train.py", line 166, in <module>
    main()
  File "train.py", line 162, in main
    meta=meta)
  File "/home/liz/anaconda3/envs/python3.6/lib/python3.6/site-packages/mmseg/apis/tr

[2022-10-27 02:41] MeowZheng commented on #2235
@ayulockin please take a look

[2022-10-27 02:59] MeowZheng commented on #2236
Might try to modify the evaluation configuration and shorten the interval between evaluations, as wandb will record the evaluation results every evaluation iter.
https://github.com/open-mmlab/mmsegmentation/blob/8dbbdd8c17a082c63947e6d20349e751b093f640/configs/_base_/schedules/schedule_40k.py#L9
https://github.com/open-mmlab/mmsegmentation/blob/8dbbdd8c17a082c63947e6d20349e751b093f640/mmseg/core/h

[2022-10-27 03:43] MengzhangLI commented on #2237
Hi, please update mmseg version.

Multiple loss feature was added into MMSegmentation in this [PR](https://github.com/open-mmlab/mmsegmentation/pull/818). If I remember well, mmseg should >=v0.18([link](https://github.com/open-mmlab/mmsegmentation/releases?page=2)).

[2022-10-27 04:00] MeowZheng commented on #2235
based on the error log
[code]
I think there might be some problem when collecting results from all rank, and you might try to define a sync folder to collect the results, like
[code]
If you still meet this error, please try to collect results with GPU, like
[code]

[2022-10-27 04:04] linshuchar opened #2238 "怎么加载其他形式的pth啊？"

[2022-10-27 04:14] linshuchar commented on #2238
![1666843765521](https://user-images.githubusercontent.com/49833212/198189787-6f139554-d131-4761-95ad-f285fb83575d.png)

[2022-10-27 04:40] MengzhangLI commented on #2238
Please use English for global discussion in community.

If you want to load third-party `.pth`, you should check out whether model weight keys of this `.pth` match up with your model defined in ./mmseg/models/.

[2022-10-27 13:22] jhaggle opened #2239 "Setting Different Learning Rate for Backbone and Heads"
I am following this tutorial and use my own custom data-set with two classes plus the background class:
https://github.com/open-mmlab/mmsegmentation/blob/master/demo/MMSegmentation_Tutorial.ipynb

And I am reading about “Training tips” in this tutorial:
https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/tutorials/training_tricks.md#different-learning-ratelr-for-backbone-and-heads

I

[2022-10-27 14:03] mmeendez8 commented on #1137
Has there been anything new about this?

[2022-10-27 14:18] Counter-F opened #2240 "the number of gpu used when training models"
Hello, we check these three pretrained models and find they are trained with 2 gpus (shown three figures below).
![图片](https://user-images.githubusercontent.com/60919631/198308618-42b0ac80-be09-498b-a78a-5a7ee7d31a23.png)
![图片](https://user-images.githubusercontent.com/60919631/198308630-14d72547-90f5-4530-ae8c-0cd438476ca7.png)
![图片](https://user-images.githubusercontent.com/60919631/198308644-80

[2022-10-27 14:27] AndrewTKent commented on #2236
I have my evaluation set to 100, and I'm able to see the validation metrics in the log from TextLoggerHook but nothing is showing up in my WandB. Should I paste my config? Thank-you for helping me with this

[2022-10-27 14:40] endaoguansanlu commented on #2237
So how can I upgrade my mmseg without losing my current model configuration, looking forward to your reply!

[2022-10-27 14:53] MengzhangLI commented on #2239
Hi, it shows types of the `self.base_lr` and `lr_mult` are `NoneType` and `float`, respectively. Please check out your `cfg` again.

[2022-10-27 14:58] MengzhangLI commented on #2240
`samples_per_gpu` means the batch numbers on each gpu, so if 4 gpus used and `samples_per_gpu=2`, total batch sizes are  4 x 2 = 8.

Plus, `4 GPUs by default` is no longer accurate, for instance, many transformer models use 8 GPUs by default. You can checkout `log` in each markdown config and checkout detailed infomation.

![image](https://user-images.githubusercontent.com/24582831/198324514-24302

[2022-10-27 17:51] jackkwok opened #2242 "Segformer. Model loss goes to 0.000 in less than 15 minutes"
I am new to mmsegmentation.  I have a binary segmentation set up for a custom dataset.  I notice `decode.acc_seg` is at 100 even from the beginning of training (weird).  The loss goes from 0.59 to 0.00 in < 15 minutes.  What could be wrong?  How to debug?

My segformer config is:
[code]

[code]

[2022-10-27 17:54] AndrewTKent commented on #2235
Okay gotcha, I have some models training right now on my GPU's so I'll give this a shot in a day or two. Thank-you very much for getting back to me.

[2022-10-27 18:20] jackkwok commented on #2242
It's a data error.  closing.

[2022-10-27 18:20] #2242 closed

[2022-10-28 02:32] Counter-F commented on #2240
Sorry to bother again.
What we just wanna know is why gpu_ids= range(0,1), a.k.a only gpu0 is used instead of 4 gpus, typically for these three model. We want to know is there some special reason to set only 1 gpu for those three models?

[2022-10-28 14:22] #2237 closed

[2022-10-28 14:45] AndrewTKent commented on #2235
@MeowZheng  So I actually found that the issue stemmed from using MMSegWandbHook, when I didn't have it as one of my hooks my run didn't have any issues evaluating the run. I'm going to run some more tests and see if maybe I just shouldn't try and log during the same iteration as the evaluation.

[2022-10-29 19:44] jhaggle commented on #2239
Hi, thanks for your answer.
 yes I can see that those variables are NoneType and float. But my questions where above under the image:

Is it not possible to set this in the config file?
How do I otherwise set it when running the notebook tutorial?

[2022-10-30 08:04] MengzhangLI commented on #2240
You should make total batch sizes the same as 4 gpus, i.e., make `samples_per_gpu` is 4 times of our original setting.

[2022-10-30 08:05] MengzhangLI commented on #2237
Just make a copy for your current config files, basically it could run smoothly because I think most part of v0.13.0 and v0.18.0 is identical.

[2022-10-30 08:37] MeowZheng commented on #2236
hi @ayulockin please take a look, thank you.

[2022-10-30 08:40] #2134 closed

[2022-10-30 08:41] MeowZheng commented on #2131
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-10-30 08:41] #2131 closed

[2022-10-30 08:41] #2130 closed

[2022-10-30 08:41] MeowZheng commented on #2082
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-10-30 08:41] #2082 closed

[2022-10-30 09:17] MeowZheng commented on #2196
We provide a specific seed in cli.
If you run the train script with mmseg master branch, please refer https://github.com/open-mmlab/mmsegmentation/blob/b42c4877672f990733d5a704c907a27047229c61/tools/train.py#L54
if you run the train script using mmseg 1.x with dev-1.x or 1.x branch, please use `--cfg-options randomness.seed=xxx` to determine the seed

[2022-10-30 13:01] MeowZheng commented on #2240
thanks for your bug report. These three models are very old for mmseg, and the `config` recorded inaccurate `gpu_ids` when training them
https://github.com/open-mmlab/mmsegmentation/blob/b2724da80bf2dc203b3db69497541ad52ce74ba0/tools/train.py#L84
but we have fix it in train.py when training model distributedly
https://github.com/open-mmlab/mmsegmentation/blob/b42c4877672f990733d5a704c907a27047229c

[2022-10-30 13:08] MeowZheng commented on #2239
please use
`cfg.optimizer.update(dict(paramwise_cfg = dict(custom_keys={'head': dict(lr_mult=10.)})))`

instead of
`cfg.optimizer = dict(paramwise_cfg = dict(custom_keys={'head': dict(lr_mult=10.)}))`

[2022-10-30 13:09] #2240 closed

[2022-10-30 14:07] MeowZheng commented on #2235
When using MMSegWandbHook, the evaluation will do twice, and the second one is for wandb to log the evaluation results.

I suggest we can talk about all problems of wandbhook usage in #2236, as I have invited the engineer from wandb to check it.

[2022-10-30 14:10] MeowZheng commented on #2228
Hi, do you mind providing more information about your problem, like the config file you used and the model you want to train or export?

[2022-10-30 14:16] MeowZheng commented on #2223
this issues is repeated with #2224

[2022-10-30 14:16] #2223 closed

[2022-10-30 14:30] MeowZheng commented on #2221
Improving the model performance is the final aim of all deep learning researcher .

You might try to use a stronger model or stronger data augmentation or an advanced training schedule.

I have converted this issue to discussion as it is an open discussion topic.

[2022-10-30 14:39] MeowZheng commented on #2126
I suggest you use mmseg 1.x,
we design the `Segdatasample` structure which package the of all data in semantic segmentation and include `seg_logist`.
The model output is also `Segdatasample`, please refer https://github.com/open-mmlab/mmsegmentation/blob/dev-1.x/docs/en/advanced_guides/models.md for more details.

[2022-10-30 14:51] MeowZheng commented on #2209
I can download with this url http://host.robots.ox.ac.uk/pascal/VOC/voc2010/VOCtrainval_03-May-2010.tar, please check again

[2022-10-30 14:52] jhaggle commented on #2239
Thank you, that worked! I also tried `cfg.optimizer['paramwise_cfg'] = dict(custom_keys={'head': dict(lr_mult=10.)}))`, which seemed to work as well.

[2022-10-30 14:56] MeowZheng commented on #2208
Do you mind providing the full config you used? The information is limited to figure out the problem,
and please refer to this documentation for binary segmentation task
https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/faq.md#how-to-handle-binary-segmentation-task

[2022-10-30 14:59] #2239 closed

[2022-10-30 15:01] MeowZheng commented on #2238
Do you mind telling us, what model you used and which checkpoint (pth file) you would like to load?

[2022-10-30 15:06] linshuchar commented on #2238
https://github.com/YihengZhang-CV/LPS-Net/blob/main/LPS-Net-S.pth

[2022-10-30 16:00] jhaggle commented on #2223
This is not the same as #2224. This is a more specific question. I have continued trying to solve this issue. My latest attempt is to add those four lines to the config:

[code]

This does NOT work. Adding ONLY the first two lines work however. However, according to the tutorial (referenced above) it all four lines should be added. So please help me understand what causes this error and how it can

[2022-10-31 01:54] jeonjungho opened #2245 "last class acc,iou is NaN"
i have a issue that last class acc,iou is NaN

so i print the 4 things to calculate iou and pixel acc (total_area_intersect, total_area_union, total_area_pred_label, total_area_label)
--below picture is matched in order 4 things

i don't understand how or why last class label pixel is 0 even if last class labels exist in label images

![image](https://user-images.githubusercontent.com/39402598/198

[2022-10-31 07:31] endaoguansanlu opened #2246 "Some questions about adding edge supervision module"
Hi, what should I do if I want to add an edge supervision module to the backbone network and then use BCELoss as the loss function? I looked at the code of the decoding header and found that the number of output channels must be the number of categories of the dataset, and the number of output channels of the edge module is generally 1, so do I only need to change the 'use_sigmoid' in 'CELoss conf

[2022-10-31 10:40] MeowZheng commented on #2150
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-10-31 10:40] #2150 closed

[2022-10-31 10:41] MeowZheng commented on #2156
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-10-31 10:41] #2156 closed

[2022-10-31 11:17] #2209 closed

[2022-11-01 03:33] lishuang70345 opened #2248 "tools/test.py can't save result images"
使用--show_image参数，test正常，但是不能保存图像，路径已设置。请问有解决方法吗？

[2022-11-01 06:05] lishuang70345 commented on #2248
补充：dev1.x分支

[2022-11-01 08:12] Zihang-Wei commented on #1990
You need to calculate them first

[2022-11-01 08:13] superqf commented on #1488
Use potsdam.py in tools convert_datasets to convert colored tag graphs to usable ones

Use potsdam.py in tools convert_datasets to convert colored tag graphs to usable ones

[2022-11-01 08:14] superqf commented on #1488
This is because the label diagram is a color diagram， Use potsdam.py in tools convert_datasets to convert colored tag graphs to usable ones

[2022-11-01 09:33] xiexinch commented on #2248
Hi @lishuang70345,
Thanks for your bug report, we will test it and feedback to you asap.

[2022-11-01 10:39] MengzhangLI commented on #1059
MaskFormer

![image](https://user-images.githubusercontent.com/24582831/199215459-ea507126-aafe-4823-8eb1-ae6487509d5c.png)

[2022-11-01 11:08] AeBoPi commented on #2081
Hello！Can you tell me the details? What should i do to converting color value to label value?

[2022-11-01 12:05] Zihang-Wei opened #2250 "Use of Focal Loss RuntimeError sigmoid_focal_loss_forward_impl: implementation for device cuda:0 not found."
Hello, how should I use the focal loss inside the config file? It pops up this strange message for me...
![image](https://user-images.githubusercontent.com/58259190/199186994-6e049709-5ab9-4cd1-ade2-68be4c6aec5a.png)
In the config file:
[code]
@RockeyCoss @Junjun2016 @MengzhangLI @xvjiarui @kahkeng

_Originally posted by @Zihang-Wei in https://github.com/open-mmlab/mmsegmentation/issues/1024#issue

[2022-11-02 01:26] tjdgus6255 commented on #2081
I converted color value to label value by referring to this script ('tools/convert_datasets/isaid.py')
[code]
But I don't think it's a correct solution.

If you're thinking about labeling again, I recommend you do the labeling in this site --> https://github.com/wkentaro/labelme.git

In my case, the labeling image obtained from the site did not need to go through the above process.

[2022-11-02 03:34] MeowZheng commented on #2197
A1:
Do you mind providing the script which works for seg mask visualization?
A2
https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/faq.md#how-to-handle-binary-segmentation-task
https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/faq.md#what-does-reduce_zero_label-work-for

[2022-11-02 03:36] MeowZheng commented on #2238
Before loading the model, you should implement LPS-Net.

[2022-11-02 03:41] linshuchar commented on #2238
我已经实现了lps-net,加载初始化模型是设置init-cfg还是在load-from选项加载。
load-from加载时候会缺少backbone.的前缀，并且后面的序号好像对不上

[2022-11-02 03:41] linshuchar commented on #2238
I have implemented lps net. Whether to set init cfg or load from the load from option to load the initialization model.

When loading load from, the prefix "backbone." is missing, and the subsequent serial number seems to be out of alignment

[2022-11-02 03:43] linshuchar commented on #2238
It seems to rewrite init_weights  can be solved

[2022-11-02 03:44] MeowZheng commented on #2238
I suggest you can load pth file with `torch.load`, it will return a data with dict type, and then you can modify the keys of the dict to match your model

[2022-11-02 03:45] #2238 closed

[2022-11-02 06:35] AeBoPi commented on #2081
OK! Thank you very much!

[2022-11-02 10:53] Zihang-Wei commented on #2250
The problem is solved by altering the DockerFile. Since there the mmcv is installed instead of mmcv-full althogh it is intended to install mmcv-full.

Just add
![6449fb16-3fec-4f27-9e1b-4f3207c19770](https://user-images.githubusercontent.com/58259190/199471674-5c473bc1-382b-4a1a-b066-9d34978a5bb8.jpg)
before installing mmcv-full.

I suggest you to change the DockerFile.
@xiexinch

[2022-11-02 11:05] Zihang-Wei opened #2254 "Tensorboard error: Exception has occurred: TypeError __init__() got an unexpected keyword argument 'serialized_options'"
You may uncomment this [line](https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/default_runtime.py#L6) to enable tensorboard.

_Originally posted by @xvjiarui in https://github.com/open-mmlab/mmsegmentation/issues/13#issuecomment-671324000_

Hey there.
I wanted to use tensorboard to visualize the log files.
I uncommented that line inside my custom config file.
[code]
However

[2022-11-02 11:11] xiexinch commented on #2248
Hi @lishuang70345,
你可以在给 `SegVisualizationHook` 设置一个参数 `interval=1`.
https://github.com/open-mmlab/mmsegmentation/blob/1.x/configs/_base_/schedules/schedule_80k.py#L24

然后执行如下命令;
[code]

[2022-11-02 11:48] Zihang-Wei commented on #2250
Sure~
Now after adding these two lines it is:
[code]
Before the MMCV CUDA Compiler is `None`

[2022-11-02 11:55] Zihang-Wei commented on #2245
In your dataset class, is `reduce_zero_label = True`?
I also had this problem somehow.
If so, you need to adjust `num_class` of your heads
![image](https://user-images.githubusercontent.com/58259190/199483501-b373e4f4-855d-4d29-8ba4-8cc175096c2f.png)
And delete the background class inside the dataset

[2022-11-02 12:26] MengzhangLI commented on #2246
Hi, why you want to add edge supervision module on backbone network rather in decoder head or auxiliary head, because I think you should add this module in heads.

If you want to use edge supervision, I can give you two suggestions. First, you can read [STDC](https://github.com/open-mmlab/mmsegmentation/tree/master/configs/stdc), which has a Detail Aggregation module by integrating the learning of

[2022-11-02 12:36] endaoguansanlu commented on #2246
Thank you so much for your generous advice! ! ! I'll go and do some research T_T

[2022-11-02 12:53] #2246 closed

[2022-11-02 15:28] Zihang-Wei commented on #2254
![6a3eea4f-7636-4204-a77e-989d994468e3](https://user-images.githubusercontent.com/58259190/199530830-74982fd9-2a3a-4051-9d88-42ce357b42a1.jpg)
Hey I have found out why this happened, it is because of the ecal i am using requires protobuf of version 3.0-3.1. This conflicts tensorboard...

[2022-11-02 15:28] #2254 closed

[2022-11-03 00:51] DoDucNhan commented on #2126
Hello everyone. I use the BEiT network for semantic segmentation and have trouble determining if my model segments the object correctly. In this case, there won't be any ground truth to validate.

Since I try to extract a specific object (e.g. barrel) from a list of images, I want to apply a threshold to remove bad segmented objects. Is there any way I can obtain a confidence level that tells how

[2022-11-03 10:41] lishuang70345 commented on #2248
试了，还是不行。也许是我config写的有问题？但是推理都是正常的

[2022-11-03 10:46] xiexinch commented on #2248
你可以贴一下你跑的命令和config

[2022-11-03 11:16] lishuang70345 commented on #2248
[segformer_mit-b0_8xb2-160k_ade20k-512x512.txt](https://github.com/open-mmlab/mmsegmentation/files/9927786/segformer_mit-b0_8xb2-160k_ade20k-512x512.txt)
我的config，命令为python .\tools\test.py .\work_dirs\segformer\segformer_mit-b0_8xb2-160k_ade20k-512x512.py .\work_dirs\segformer\iter_1600.pth --show --show-dir .\work_dirs\test_images

[2022-11-03 11:21] xiexinch commented on #2248
你去掉--show试试，只保留 --show-dir

[2022-11-03 12:46] yxchng opened #2258 "How to disable progress bar when evaluating model?"

[2022-11-03 14:00] InvokerLiu opened #2260 "is there resnet34 pretrained parameters?"
In the source code of resnet I see that the depth of resnet can be 18, 34, 50, 101 and 152, but when I set the depth parameter of the model to 34 and the pretrained parameter to 'open-mmlab://resnet34_v1c', I get KeyError: 'resnet34_v1c', while when I set the depth parameter to 18 or 50, the pretrained parameter is set to 'open-mmlab://resnet18_v1c' or 'open-mmlab://resnet50_v1c' ，there is no prob

[2022-11-03 14:11] scm-later opened #2261 "segmentors"
Using the encorder-decorder structure, I wrote a new decode head, do I need to modify the encorder-decorder.py file in the segmentors

[2022-11-03 14:43] nicekwow opened #2262 "MAE about the mask ratio"
When I wanted to use the MAE algorithm, I found that I couldn't find the code about the mask ratio parameter from the source code. How is the MAE mask strategy implemented in mmseg?

[2022-11-03 21:37] MABatin opened #2263 "Binary segmentation for custom dataset issue"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. The bug has not been fixed in the latest version.

**Describe the bug**
A clear and concise description of what the bug is.

Hi, I am trying to do binary segmentation with deeplabv3_unet model. I am getting the following error for out_channel=2 in decode_h

[2022-11-04 00:23] cksdlakstp12 opened #2264 "what is checkpoint file when use model_ensemble.py"
Hi. I'm recently using this repository usefully.
But I don't know what the checkpoint file is, so I'm having a hard time proceeding with the model ensemble.

[code]

How can I get some example of the checkpoint file?
or Is there any document for this file?

[2022-11-04 01:34] lishuang70345 commented on #2248
谢谢

[2022-11-04 01:34] #2248 closed

[2022-11-04 05:18] good-demo opened #2265 "About using my dataset to realize 2 class segmentation"
![1667538787945](https://user-images.githubusercontent.com/90243359/199894698-45f2b54d-c7ee-4a0d-a4a3-fc12af309461.png)
![1667538764116](https://user-images.githubusercontent.com/90243359/199894586-fa7c8342-dd92-49b5-af88-5be6dbda8b40.png)
![1667538846672](https://user-images.githubusercontent.com/90243359/199895008-d2594646-e1a8-4ed0-a5f2-2cc2621276bc.png)
This is my setting.
But the result as fe

[2022-11-04 05:27] MengzhangLI commented on #2260
https://github.com/open-mmlab/mmcv/blob/master/mmcv/model_zoo/mmcls.json#L11

https://github.com/open-mmlab/mmcv/blob/master/mmcv/model_zoo/torchvision_0.12.json#L35

You can download pretrained models above and have a try.

[2022-11-04 05:30] MengzhangLI commented on #2261
No, if you just add a brand new decoder head, just add it into ./mmseg/models/decode_heads/ and `__init__.py`. But you should ensure shapes of backbone output and decoder head input are matched up.

[2022-11-04 05:35] MengzhangLI commented on #2262
Hi, semantic segmentation is **downstram application** to test MAE performance, MMSegmentation just borrows the pretrained model which is trained with strategy in MAE paper, you can find `mask_ratio` in [MMSelfsup](https://github.com/open-mmlab/mmselfsup/blob/master/mmselfsup/models/backbones/mae_vit.py#L38).

To sum up, you can modify `mask_ratio` in MMSelfSup to train a different pretrained mode

[2022-11-04 05:38] MengzhangLI commented on #2263
Hi, we just update FAQ doc which adds binary segmentation, please have a try:https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/faq.md#how-to-handle-binary-segmentation-task.

Best,

[2022-11-04 06:02] MengzhangLI commented on #2258
Hi, you can uncomment related line of progressbar.

[2022-11-04 07:00] MABatin commented on #2263
Hi, thanks for the quick response. I did configure the dataset according to the FAQ but didn't make the seg_maps properly. That was the main issue. Thankfully it's solved now.

[2022-11-04 07:00] #2263 closed

[2022-11-04 07:04] nicekwow commented on #2262
I understand, thank you very much!

[2022-11-04 07:04] nicekwow commented on #2262
I understand, thank you very much!

[2022-11-04 07:14] InvokerLiu commented on #2260
Thanks very much, I solved this problem with this information.

[2022-11-04 07:29] xiexinch commented on #2264
Hi @cksdlakstp12,
The checkpoint files correspond to the config files.

An example:
The config file https://github.com/open-mmlab/mmsegmentation/blob/master/configs/ann/ann_r50-d8_512x1024_40k_cityscapes.py corresponds to the checkpoint https://download.openmmlab.com/mmsegmentation/v0.5/ann/ann_r50-d8_512x1024_40k_cityscapes/ann_r50-d8_512x1024_40k_cityscapes_20200605_095211-049fc292.pth.

[2022-11-04 07:30] 505342116 opened #2266 "RuntimeError: NCCL Error 1: unhandled cuda error"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. The bug has not been fixed in the latest version.

**Describe the bug**
There are 4 GTX TITAN X graphics cards on my server. My model works well in the environment of cuda10.1, but when the server is upgraded, the CUDA driver version is upgraded to 11.7. D

[2022-11-04 07:37] xiexinch commented on #2265
Hi @good-demo,
Your config file looks fine, could you provide more information about your experiment?

[2022-11-04 08:21] good-demo commented on #2265
Hi @xiexinch ,
Thanks for your reply!
This is my works_dir python file
norm_cfg = dict(type='SyncBN', requires_grad=True)
backbone_norm_cfg = dict(type='LN', requires_grad=True)
model = dict(
    type='EncoderDecoder',
    pretrained=None,
    backbone=dict(
        type='SwinTransformer',
        pretrain_img_size=224,
        embed_dims=48,
        patch_size=4,
        window_size=6,
        ml

[2022-11-04 08:47] xiexinch commented on #2265
Hi @good-demo,
Did you train a new SwinTransformer pre-trained checkpoint? I find your image normalization config is not consistent with ours.

[2022-11-04 09:42] #2262 closed

[2022-11-04 09:42] #2260 closed

[2022-11-04 11:02] cksdlakstp12 commented on #2264
Thank you for your help!
According to your comment, can I use it like below?

`python tools/model_ensemble.py \
  --config ann_r50-d8_512x1024_40k_cityscapes.py ... \
  --checkpoint ann_r50-d8_512x1024_40k_cityscapes_20200605_095211-049fc292.pth ...\
  --aug-test \
  --out ./my_output \
  --gpus 0, 1, 2 \`

[2022-11-04 12:30] jhaggle opened #2268 "AssertionError: EncoderDecoder: both backbone and segmentor set pretrained weight"
I am following this tutorial:
https://github.com/open-mmlab/mmsegmentation/blob/master/demo/MMSegmentation_Tutorial.ipynb

When I start the training, everything works fine. However, if I RERUN the cell where training is started I get the error
"AssertionError: EncoderDecoder: both backbone and segmentor set pretrained weight". This makes it necessary to restart the kernel and go over each cell in

[2022-11-04 13:22] cksdlakstp12 commented on #2264
Thank you for your answer!
I understand how to use model_ensemble.py.

[2022-11-04 13:22] #2264 closed

[2022-11-04 15:00] cksdlakstp12 opened #2269 "A bug that does not change the range of inferenced image when using model_ensemble.py"
Using model_ensemble.py, I found a problem by introducing the test dataset.

The images stored in the output directory were not close to gt; they were just images of black background.

When I checked, it seems that it was a problem caused by the logits not properly changing from 0 to 1 to 0 to 255 after taking argmax.

Therefore, I fixed the bug by adding a simple line of code as below.

[code]

I

[2022-11-05 06:36] Masque555 opened #2270 "pytorch2onnx.py error"
Hi! I use pytorch2onnx.py occur error，But other models can be successfully converted. Now it is found that the conversion of hrnet and ocrnet models to onnx models fails

The conversion command is as follows：
python tools/pytorch2onnx.py configs/ocrnet/ocrnet_hr18s_512x512_20k_voc12aug.py --checkpoint work_dirs/ocrnet_hr18s_512x512_20k_voc12aug/latest.pth --input-img ckpt/0001.jpg --show --verify

[2022-11-05 20:09] MABatin opened #2271 "Median Frequency Balancing for CE loss"
Hi, I wanted to implement median frequency balancing for CE loss where the loss of each class is weighted by the ratio of median class frequency and actual frequency of the class. But I am at a loss (pun intended) as to which files to modify to implement such technique for Cross Entropy Loss. In particular, how do I get the frequency of each class at run-time, or do I compute it beforehand and pas

[2022-11-06 05:46] jeonjungho commented on #2245
i use custom dataset that has 19 class and i use 'reduce_zero_label = False'
but still, i don't solve this problem

[2022-11-06 06:44] MengzhangLI commented on #2268
When you print your config, it may be like this one:
![image](https://user-images.githubusercontent.com/24582831/200157994-e5dc0df7-7dbc-4990-806d-ee2f91807fb7.png)

Just delete one `init_cfg` or `pretrained` parameter in config file because they can not both be set.

If tutorial is wrong, we would fix the bug asap.

[2022-11-06 06:50] MengzhangLI commented on #2271
Currently we do not provide tools to calculate frequency of each class in dataset so you have to calculate on your own.

If you get the median frequency, you can set weight for ce loss, here is [doc](https://github.com/open-mmlab/mmsegmentation/blob/master/docs/en/tutorials/training_tricks.md#class-balanced-loss).

[2022-11-06 06:51] MengzhangLI commented on #2269
Hi, thanks for your feedback.

Could you please create a pr to fix this error? We really want to cooperate with community members to make this repo better together.

[2022-11-06 07:25] scm-later commented on #2261
thank you very much

[2022-11-06 09:28] Angelo-scut commented on #1148
Is this really work? Cause I find out that in default_constructor.py, line 182, the parameters will be threw into the Optimizer even though the requires_grad is set as False. And then the optimizer will crash for optimizing a none grad parameter. Is there another way to realize this(freeze some parameters). Thank you.
My environment is:
Python==3.7.10
PyTorch==1.8.1+cu101
mmcv-full==1.6.0

[2022-11-06 18:55] MABatin commented on #2271
@MengzhangLI thanks for the reply. On a side note, any chance of implementing Unet++ model in this repo anytime soon?

[2022-11-07 02:41] jeonjungho commented on #2245
still don't solve them

i use the segformer b3 with pretrained weight

data config file
mmseg/dataset/mydataset.py
![Screenshot from 2022-11-07 11-20-50](https://user-images.githubusercontent.com/39402598/200213432-97d5c3be-bab7-4d65-8b06-90d70299d35b.png)

config/_base_/datasets/mydataset.py
![Screenshot from 2022-11-07 11-24-06](https://user-images.githubusercontent.com/39402598/200213700-41e70f

[2022-11-07 04:29] MengzhangLI commented on #2271
We do not plan to support UNet++ in the next few month because we are supporting some SOTA models in semantic segmentation area like MaskFormer, Mask2Former and SegNeXt. But if you create a PR of UNet++, we would response you quickly because community pr is high priority for us.

If you don't mind, welcome make a pr for anything you want to add in MMSegmentation.

Best,

[2022-11-07 05:40] sunghyun-nam opened #2272 "iou code --- compare gt image and result image"
Hello.

Is there any code to compare gt image and result image?

[2022-11-07 09:01] Bin-ze opened #2273 "train CamVid using mmsegmentation"
I want train Camvid dataset using mmseg, If anyone has experience with this dataset, can you share it? I would like to know all the steps required after downloading the data from the official to processing into a standard format supported by mmseg, can anyone help me？

[2022-11-07 10:12] MengzhangLI commented on #2272
Hi, I suggest you use new MMSegmentation 1.x version and debug at this [IoU Metric line](https://github.com/open-mmlab/mmsegmentation/blob/1.x/mmseg/evaluation/metrics/iou_metric.py#L65).

[2022-11-07 10:17] MengzhangLI commented on #2273
Sorry we do not plan to implement CamVid dataset yet. You can discuss it in our wechat or QQ forum.

![image](https://user-images.githubusercontent.com/24582831/200285579-6b5c9ff0-e3e0-4a9e-b78a-a2c9b87d2cbd.png)

[2022-11-07 12:00] Carol-Liu-lin opened #2274 "The SegFormer model built in mmcv.version>1.3.0 is different from earlier version, why? and what advantages can these changes bring?"
I want to reproduce the Segformer b0 model based on your repo. However, I notice that the newer model is slightly different from what the author posted on github, like nn.Conv2d instead of nn.Linear. Also, the q,k,v obtained in Attention module is different.
Since these two models trained on cityscapes get different performance, 76.6 vs. 75.2, I wonder why you do these changes and what advantages

[2022-11-07 13:20] MengzhangLI commented on #2274
We **do not deliberately improve SegFormer performance by updating MMCV version and modifying segformer code**.  I think  `nn.Conv2d` instead of `nn.Linear` you mentioned is the refactoring code which is identical. To sum up, those code modifications are all at the time of migrating SegFormer into MMSegmentation. **We do not do so-called changes to improve performance, you can check the git histor

[2022-11-07 13:32] sandstorm666 opened #2275 "Training errors on ade20k dataset using lraspp model"
![2022-11-07 21-27-28 的屏幕截图](https://user-images.githubusercontent.com/73341998/200322506-bda92c8c-5b85-44b3-8adf-6ca4087a07a3.png)
![2022-11-07 21-29-12 的屏幕截图](https://user-images.githubusercontent.com/73341998/200322558-3b8740c9-72b7-44aa-86f6-c9cdd2f16e3b.png)
but when I change the dataset from ade20K to cityscapes, it can run! mmcv is 1.3.18,mmsegmentation is 0.19.0.

[2022-11-08 02:44] shengyi4 opened #2276 "Model Ensemble test"
Hi! I wonder how I can test the output of the model_ensemble.py method. I can only see generated masks inside the "out" folder. Is there anyway that I can get the mIoU, acc, etc. as what we had in tools/test.py? Thanks!

[2022-11-08 03:25] MengzhangLI commented on #2275
Could you check your `num_classes` in the model when using ade20k?

Then check whether other default configs(like [pspnet](https://github.com/open-mmlab/mmsegmentation/blob/master/configs/pspnet/pspnet_r50-d8_512x512_80k_ade20k.py)) which use ade20k can run normally.

[2022-11-08 06:15] xiexinch commented on #2276
Hi @shengyi4,
Currently we do not provide a script to calculate offline results, if you'd like, we would greatly appreciate it if you would create a PR to support this feature.

[2022-11-08 06:27] xiexinch commented on #2270
Hi @Masque555,
Sorry for the late reply, could you provide your running environment to us, I try to reproduce the problem but meet another error report.

[2022-11-08 06:34] Masque555 commented on #2270
Thank you reply, my envioronment is as follows:

Python: 3.6.13 |Anaconda, Inc.| (default, Mar 16 2021, 11:37:27) [MSC v.1916 64 bit (AMD64)]
CUDA available: True
GPU 0: NVIDIA GeForce RTX 3060
CUDA_HOME: C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.7
NVCC: Cuda compilation tools, release 11.7, V11.7.64
MSVC:  Microsoft (R) C/C++  19.29.30146
GCC: n/a
PyTorch: 1.7.0
PyTorch compiling det

[2022-11-08 06:40] Masque555 commented on #2270
Does pytorch2onnx.py require the version of pytorch? If so, can I use pth2onnx to convert the ocrnet model when I reinstall an environment.

[2022-11-08 06:46] sandstorm666 commented on #2275
I tried, but failed。
![2022-11-08 14-45-02 的屏幕截图](https://user-images.git
![2022-11-08 14-46-01 的屏幕截图](https://user-images.githubusercontent.com/73341998/200493840-83867d2b-e173-44f1-934e-d0e7c4e8ba85.png)
hubusercontent.com/73341998/200493676-fa02f468-8ee7-4cf9-a51f-9bbb1410a975.png)

[2022-11-08 06:47] sandstorm666 commented on #2275
I tried, but failed。
![2022-11-08 14-45-02 的屏幕截图](https://user-images.githubusercontent.com/73341998/200494033-c71ede3f-53bb-4cde-909d-b4f38b0129b1.png)
![2022-11-08 14-46-01 的屏幕截图](https://user-images.githubusercontent.com/73341998/200494042-1bbbda46-2f96-4213-89c1-59188f637d16.png)

[2022-11-08 06:48] xiexinch commented on #2270
An upgrade to 1.8 or higher is recommended. And we strongly recommend using [MMDeploy](https://github.com/open-mmlab/mmdeploy), this script will be deprecated.

https://github.com/open-mmlab/mmcv/issues/2226

[2022-11-08 06:51] Masque555 commented on #2270
ok！ thank you， I will try.

[2022-11-08 06:58] xiexinch commented on #2203
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-08 06:58] #2203 closed

[2022-11-08 08:21] MengzhangLI commented on #2275
Can other default configs (like [pspnet](https://github.com/open-mmlab/mmsegmentation/blob/master/configs/pspnet/pspnet_r50-d8_512x512_80k_ade20k.py)) which use ade20k run normally?

[2022-11-08 08:27] sandstorm666 commented on #2275
pspnet run successfully.

[2022-11-08 08:47] MengzhangLI commented on #2275
So it is probably caused by your wrong customization config settings.

For example, I can directly tell in [lraspp_m-v3-d8.py](https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/models/lraspp_m-v3-d8.py) there is no auxiliary head but you set `num_classes=150` in your `configs/mobilenent_v3/lraspp_ade20k.py`.

[2022-11-08 09:59] chen-del opened #2277 "Torch2onnx export model error!"
When I try to convert a pytorch model to an onnx model, its export keeps giving an error?

[code]

[2022-11-08 11:02] MengzhangLI commented on #2268
Hi, excause me, could you tell us which command line in jupyter notebook cause this error?

[2022-11-08 11:34] ArthasMil commented on #1180
I think it's something wrong with the _reduce_zero_label_ or _ignore_index_. Obviously this function works well **without**  _reduce_zero_label_ , such as the cityscapes settings. When training the ADE20k or LoveDA，this problem will occur.

[2022-11-08 11:53] sandstorm666 commented on #2275
thank you. its ok

[2022-11-08 11:53] #2275 closed

[2022-11-08 12:01] zeynepiskenderoglu commented on #949
i have the same problem

[2022-11-08 12:43] xiexinch commented on #2266
Hi @50534211,
Sorry for the late reply.
I could not reproduce this error, could you double-check your devices or other settings?
I run the following command and no error reports.
[code]

[2022-11-08 13:01] jhaggle commented on #2268
Hi, thanks for your answer. Yes that is exactly what happens.
Assume you start training and then want to run training again after changing something in the config. Then you get an error when running this cell:

![bild](https://user-images.githubusercontent.com/11705343/200571212-d10f8ec2-1075-4351-8137-71c65d8d921e.png)

It is the line `model = build_segmentor(cfg.model)` that is the problem.
Then

[2022-11-08 13:35] FX794726198 opened #2278 "AssertionError: MMCV==1.4.2 is used but incompatible. Please install mmcv>=(1, 3, 13, 0, 0, 0), <=(1, 4, 0, 0, 0, 0)."
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. The bug has not been fixed in the latest version.

**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction**

1. What command or script did you run?

[code]

2. Did you make any modifications on the code or config? Did you

[2022-11-08 14:41] yannqi opened #2279 "Bug Report: A mistake in /mmsegmentation/mmseg/datasets/isprs.py #line 17"
In  /mmsegmentation/mmseg/datasets/isprs.py  #line 17
[/mmsegmentation/mmseg/datasets/isprs.py  #line 17](https://github.com/open-mmlab/mmsegmentation/blob/4b905cbe2fb2a8afbb7e91c5453aa5fd8ac6b060/mmseg/datasets/isprs.py#L17)

The PALETTE is wrong, because of the same color_map in building and low_vegetation.
Original code:
`    PALETTE = [[255, 255, 255], [0, 0, 255], [0, 0, 255], [0, 255, 0],

[2022-11-08 17:01] createhappily opened #2280 "a question about the implementation of OCRNet in MMSegmentation"
Hi contributors, thank you for your awesome project. I have a question about the implementation of OCRNet. As I read in the original paper, the OCRNet pipeline contains a module called Soft Object Regions and a module called Pixel Representations. Also, the OCRNet in MMSegmentation is implemented as a cascaded encoder-decoder with a FPN head and a OCR head followed by OCRNet. Are Soft Object Regio

[2022-11-08 18:02] MABatin commented on #2271
Many thanks for the information.

[2022-11-08 18:02] #2271 closed

[2022-11-09 01:12] APeiZou opened #2281 "What is the function of the crop size?"
@MeowZheng   What is the function of the crop size? Does the crop size refer to the sliding window clipping image in the training image? Can you directly resize to train your own data set for a fixed size

[2022-11-09 03:15] xiexinch commented on #2278
Hi @FX794726198,
It seems that the version of MMSegmentation you installed is not compatible with MMCV, you might upgrade the MMSegmentation to fix this problem.

[2022-11-09 03:18] FX794726198 commented on #2278
thanks

[2022-11-09 03:24] xiexinch commented on #2277
Hi @chen-del,
Do you mind providing more information about your problems, like the config file you used, and the command you used and your running environment?

And we are working on supporting SegNeXt #2247, but for now we could not ensure our tools works for the SegNeXt official repo.

[2022-11-09 03:31] endaoguansanlu opened #2282 "Can mmseg use different loss functions at different positions in the decoder？"
Can mmseg use different loss functions at different positions of the decoder, or can I only use the loss function at the end of the decoder?Looking forward to your reply！！！

[2022-11-09 03:37] yannqi commented on #2279
Sorry, it is my mistake, I went to the wrong branch. The bug had been fixed before. Thank you :)

[2022-11-09 03:37] #2279 closed

[2022-11-09 07:16] ThorPham opened #2283 "Error when train customer dataset ."
I has a dataset with 6 class and when i trained bug appear like this
ValueError: size shape must match input shape. Input is 2D, size is 3
This is a my dataset config
![image](https://user-images.githubusercontent.com/33828708/200763031-8adffdb1-5e47-4ca0-bd5c-6778ca09321b.png)
I traced my bug and bug in line
https://github.com/open-mmlab/mmsegmentation/blob/7b09967fcc5a8171fc375d9a7f1b40962e40f35

[2022-11-09 07:45] jeonjungho opened #2284 "label map issue"
i want to use label_map to change the old id

so i modify the Mydataset(Customdataset) class

![Screenshot from 2022-11-09 16-42-34](https://user-images.githubusercontent.com/39402598/200768631-3608c00d-e7a5-484d-a4f9-ca8f00518e9a.png)

but i got an error

![Screenshot from 2022-11-09 16-43-57](https://user-images.githubusercontent.com/39402598/200768924-8682031e-f6ba-4da2-976d-f97c054b9fe9.png)

[2022-11-09 08:43] FabianSchuetze commented on #2277
How, how interesting. I will also try the conversion to ONNX with the SegNext PR and report my results.

[2022-11-09 11:14] xiexinch commented on #2280
Hi @createhappily,
The `pixel representation` is the output of the backbone and the `soft object regions` is produced by the FCN head.

[2022-11-09 11:16] xiexinch commented on #2278
Will close this issue, if you meet new problems, welcome to create a new issue :)

[2022-11-09 11:16] #2278 closed

[2022-11-09 11:20] xiexinch commented on #2106
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:20] #2106 closed

[2022-11-09 11:20] xiexinch commented on #2104
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:20] #2104 closed

[2022-11-09 11:21] xiexinch commented on #2102
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:21] #2102 closed

[2022-11-09 11:21] xiexinch commented on #2094
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:21] #2094 closed

[2022-11-09 11:22] xiexinch commented on #2092
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:22] xiexinch commented on #2028
#2255

Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:22] #2028 closed

[2022-11-09 11:22] MeowZheng commented on #2281
The input image size for training is equal to `crop_size` in `RandomCrop` of data augmentation pipeline
https://github.com/open-mmlab/mmsegmentation/blob/7b09967fcc5a8171fc375d9a7f1b40962e40f350/configs/_base_/datasets/ade20k.py#L11
The input size for test is resize scale for example
https://github.com/open-mmlab/mmsegmentation/blob/7b09967fcc5a8171fc375d9a7f1b40962e40f350/configs/_base_/datasets/

[2022-11-09 11:23] xiexinch commented on #2027
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:23] #2027 closed

[2022-11-09 11:25] xiexinch commented on #2022
Might set `reduce_zero_label=True` like ADE20k dataset.

[2022-11-09 11:25] xiexinch commented on #2022
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:25] #2022 closed

[2022-11-09 11:27] xiexinch commented on #2083
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:28] xiexinch commented on #2018
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:28] #2018 closed

[2022-11-09 11:29] xiexinch commented on #1974
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:29] #1974 closed

[2022-11-09 11:33] xiexinch commented on #1945
Sorry for the late reply, do you solve this problem?

[2022-11-09 11:36] xiexinch commented on #1733
Sorry for the late reply, do you solve this problem?

[2022-11-09 11:40] xiexinch commented on #596
Hi @yan-hao-tian,
The MMSegmentation 1.x has been released, this problem is solved.

Will close the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:40] #596 closed

[2022-11-09 11:42] xiexinch commented on #1976
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:42] #1976 closed

[2022-11-09 11:43] xiexinch commented on #1957
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-09 11:43] #1957 closed

[2022-11-09 11:45] #1758 closed, assigned to xiexinch, RunningLeon

[2022-11-09 11:47] xiexinch commented on #2270
Hi @Masque555,
Do you solve this problem?

[2022-11-09 11:50] sherwincn commented on #1733
Yes, I do. But I forget how to solve this issue.

[2022-11-09 11:53] Masque555 commented on #2270
Thank you for your reply. I've been delayed by other things recently. Later, I will go for verification, and I will share the solution when it is solved. Thank you.

[2022-11-09 14:03] Sunbaoquan opened #2289 "About Pascal-context val pipeline."
I found that the backbone network I designed can only input image sizes that are integer multiples of 32. In the Pascal-context training pipeline, the image and label are cropped and pad to 512x512. However, in the test pipeline, I set `img_scale=(512, 512)`, and since `keep_ratio=True` in resize(), the short edge of the test image is not necessarily an integer multiple of 32 at this point. I trie

[2022-11-09 14:08] Sunbaoquan commented on #2289
@MeowZheng

[2022-11-09 15:05] MeowZheng commented on #2282
I have a little question, what does different positions of the decoder mean? where you would like to use loss?

[2022-11-09 15:09] MeowZheng commented on #2283
I suggest you print the  `filename` at
https://github.com/open-mmlab/mmsegmentation/blob/7b09967fcc5a8171fc375d9a7f1b40962e40f350/mmseg/datasets/pipelines/loading.py#L61
and https://github.com/open-mmlab/mmsegmentation/blob/7b09967fcc5a8171fc375d9a7f1b40962e40f350/mmseg/datasets/pipelines/loading.py#L132
I think you might load wrong data

[2022-11-09 15:13] MeowZheng commented on #2284
I suggest you check `seg_label` after this line whether it has anything wrong.
https://github.com/open-mmlab/mmsegmentation/blob/7b09967fcc5a8171fc375d9a7f1b40962e40f350/mmseg/models/decode_heads/decode_head.py#L261

[2022-11-09 15:15] MeowZheng commented on #2289
Please try to ues
https://github.com/open-mmlab/mmsegmentation/blob/7b09967fcc5a8171fc375d9a7f1b40962e40f350/mmseg/datasets/pipelines/transforms.py#L13-L25

[2022-11-09 15:51] ThorPham commented on #2283
@MeowZheng here is log :
![image](https://user-images.githubusercontent.com/33828708/200876161-29b7f572-534a-46cd-9a29-7b9ca0e30d56.png)
and here is custom dataset
![image](https://user-images.githubusercontent.com/33828708/200876390-5b11fa00-fd15-4c70-8bd9-6ab2fe7d44fa.png)
My dataset with 6 class and annotation is format RGB space with extension png with 6 color.

[2022-11-10 00:31] jeonjungho commented on #2284
oh i miss  the argument  "self.custom_classes = True"
then solve the problem

[2022-11-10 00:31] #2284 closed

[2022-11-10 02:57] bbgame605065444 commented on #1668
I am also working with multiband remote sensing data, if you want. I can share some dataset with you. I hope that every kind of augmentation can be used on this datatype.

[2022-11-10 06:11] Max-Well-Wang commented on #1625
"ValueError: Input and output must have the same number of spatial dimensions, but got input with with spatial dimensions of [64, 64] and output size of torch.Size([512, 512, 3]).", it is because your mask channel number is 3, you should turn the channel into one dimension

[2022-11-10 06:52] MengzhangLI commented on #1668
Sure, it's very kind. By the way, could you list some data augmentation methods MMSegmentation not provided yet but necessary for your dataset?

[2022-11-10 06:52] MengzhangLI commented on #1668
Sure, it's very kind. By the way, could you list some data augmentation methods MMSegmentation not provided yet but necessary for your dataset?

[2022-11-10 07:03] MengzhangLI commented on #2268
OK, yesterday I ran this tutorial(with latest master branch) but did not meet this type of bug. If you have solved this problem this issue would be closed.

[2022-11-10 07:14] jeonjungho opened #2291 "test pipline error"
i have a test pipeline problem

current issue
i use input image with (1280,944,3) and transform (640,448,3)

when validation iteration after training iteration in function "single_gpu_test", input size is 640,448,3

but output result size is original size(1280,944,3) like below image

why result image size is original?

def single_gpu_test
![Screenshot from 2022-11-10 16-02-24](https://user-images

[2022-11-10 07:44] FabianSchuetze commented on #2277
I got the same error as you did, @chen-del , when I run the conversion with the following command:
[code]
However, when I add the flag `--device cuda:0`, the conversion works well (after additionally installing `onnxruntime-gpu`).

[2022-11-10 08:48] TT5an opened #2292 "How to test a single image？"
请问，可以直接修改参数去测试单张或者几张不在数据集内的图片吗，如果可以要怎么操作呢

[2022-11-10 08:52] duduzai2019 commented on #2032
Hi, have you solved it?

[2022-11-10 08:52] duduzai2019 commented on #2032
Hi, can you solved it?

[2022-11-10 08:53] ThorPham commented on #2283
@jinwonkim93 Yes I write code read image and annotation  and check shape of them. It's ok. Can you help me some other method to test those files.
![image](https://user-images.githubusercontent.com/33828708/201044897-cfa22a18-dd5e-4d97-b30a-450ea63a37eb.png)

[2022-11-10 09:58] ThorPham commented on #2283
@jinwonkim93 @MeowZheng I know my problem. That is annotation have more than color in PALETTE

[2022-11-10 10:00] #2283 closed

[2022-11-10 10:01] APeiZou commented on #2281
@MeowZheng  thanks for your reply

[2022-11-10 10:01] #2281 closed

[2022-11-10 10:01] chen-del commented on #2277
@xiexinch Sorry for taking so long to reply. It seems that the model data saved in the conversion process is a mixture of cpu and gpu, which caused an error. Configuration I will reply below.

[2022-11-10 10:02] chen-del commented on #2277
@FabianSchuetze Thanks! This seems to be tensorrt conversion. I actually want to use torch2onnx to convert segnext, but an error occurred during this process. Thanks for your suggestion, I will try this method.

[code]
In addition, I have not tried tensorrt, I just want to use the converted onnx model for other deployments，Also I will try it with reference to your suggestion!

[2022-11-10 10:20] MeowZheng commented on #2282
Please refer auxiliary head. Models always have an `auxiliary_head` and it has its own loss
https://github.com/open-mmlab/mmsegmentation/blob/7b09967fcc5a8171fc375d9a7f1b40962e40f350/configs/_base_/models/pspnet_r50-d8.py#L29-L41

[2022-11-10 11:03] ThorPham commented on #2283
@MeowZheng I just check  shape ofresults.get('gt_semantic_seg') in VOC or coco is 2D. But my dataset is 3D.
Let me know the format dataset for the annotation i should convert

[2022-11-10 13:20] jinwonkim93 commented on #2283
@ThorPham
Check this issue.
https://github.com/open-mmlab/mmsegmentation/issues/1719

[2022-11-10 17:45] MABatin opened #2293 "U-Net as Encoder Decoder"
Hi, sorry for a noob question. I wanted to know what I need to do if I want to use the U-Net architecture as the Encoder Decoder segmentor instead of using it as a backbone? Am I correct to approach it this way - implement the decoder stage of U-Net as a decode head separately and use only encoder stage of U-Net as the backbone?

[2022-11-11 01:07] Li-Qingyun opened #2294 "Request for adding classwise results to logs for mmseg 1.x"
The `IoUMetric` of mmseg1.x seems provide classwise results in the console without requirement of setting the arg of `classwise` like mmdet. However, I did not find the classwise results in the logs.

I submit this issue to ask whether my usage is wrong or the new mmseg indeed require a pr to support this.

[2022-11-11 02:16] Masque555 commented on #2270
Hello, I updated the version of pytorch to 1.9.0 and executed pytorch2onnx. The same bug will appear as before.
The bug is as follows:
(mmdeploy) D:\CV\mmsegmentation>python tools/pytorch2onnx.py configs/ocrnet/ocrnet_hr18s_512x512_20k_voc12aug.py --checkpoint work_dirs/ocrnet_hr18s_512x512_20k_voc12aug/latest.pth --input-img ckpt/0001.jpg --show --verify  --cfg-options model.test_cfg.mode='whole'

[2022-11-11 02:32] ThorPham commented on #2283
@jinwonkim93 . I done with issue. Thank you so much

[2022-11-11 08:39] MengzhangLI commented on #2292
Hi, take my own for example, I usually create a dataset which only has one image. Also, you could checkout [our tutorial](https://github.com/open-mmlab/mmsegmentation/blob/master/demo/MMSegmentation_Tutorial.ipynb) which has one image to test model performance, which may help you.

[2022-11-11 08:43] MengzhangLI commented on #2293
https://github.com/open-mmlab/mmsegmentation/issues/2140

Hi, you could click issue I mentioned above.

https://github.com/open-mmlab/mmsegmentation/issues/2140#issuecomment-1272221504

Actually MMSegmentation UNet `Backbone` has both encoder and decoder which this area defined, and we only use FCN or other decoder heads to handle feature maps generated by decoder, you can read UNet code and find

[2022-11-11 08:46] L-Reichardt opened #2295 "Custom Dataset NAN / CUDA error"
Data Issue: Solved.
This issue description is irrelevant to the solution.

[2022-11-11 09:32] TT5an commented on #2292
非常感谢您，我已经成功解决了，我在B站刚好看到了mmsegmentation的教学视频，里边也有这个示例。

[2022-11-11 09:32] #2292 closed

[2022-11-11 09:56] Bin-ze commented on #2273
think you!

[2022-11-11 09:56] #2273 closed

[2022-11-11 16:29] FabianSchuetze commented on #2277
Hi @chen-del , have you made any progress for the conversion?

I have also fixed a bug in the latest commit of mmsegmentation's branch for segnext which now permits doing the onnx conversion also on the cpu, not only the gpu.

[2022-11-11 17:57] mustafacavusoglu opened #2296 "RecursionError: maximum recursion depth exceeded while calling a Python object"
When I was training on custom dataset. This error occured

![image](https://user-images.githubusercontent.com/65891055/201400628-b8ecbd2d-f85b-45b1-b735-d397b5f88264.png)

[2022-11-12 10:42] plainzzj opened #2297 "How to divide a large picture into small pictures and input them into the network for training"
My dataset image size is particularly large: 5184*3456，
So even if I only load one picture each time, I will encounter the following problems： CUDA out of memory.
So I want to load part of the picture every time:
How can it be realized?

thank you very much！

[2022-11-12 11:22] Rock-L21 commented on #2081
Hello, may I ask how to convert the dataset made from labelme (the label is in json format) into a dataset format usable by MMSegmentation?

[2022-11-12 13:27] VoyagerXvoyagerx opened #2299 "A bug for show_result_pyplot(): 'EncoderDecoder' object has no attribute 'dataset_meta'"
https://github.com/open-mmlab/mmsegmentation/blob/7927591a22f901756d54dc2cad8a5f56ae01cf64/mmseg/apis/inference.py#L197

When running the [https://github.com/open-mmlab/mmsegmentation/blob/dev-1.x/demo/MMSegmentation_Tutorial.ipynb](tutorial) , an attribute error came.

When I referred to the doc and [https://mmsegmentation.readthedocs.io/zh_CN/dev-1.x/_modules/mmseg/models/segmentors/encoder_deco

[2022-11-12 13:53] Rock-L21 opened #2300 "Dice and Acc are all 0"
I've searched for related issues, but didn't get the expected help.

I used the labelme tool to make a dataset in VOC format. And I used the model to conduct experiments on this dataset, where the model was not modified, but I got the following results.

![image](https://user-images.githubusercontent.com/37958419/201477246-62f43faf-c79b-4f53-85ec-93186e9de4fa.png)

Below is my config file

[code]

[2022-11-12 13:56] Rock-L21 commented on #2300
Regarding the annotation images, the following two images are used respectively, and the obtained results are that Acc and Dec are 0.
![100000013](https://user-images.githubusercontent.com/37958419/201477368-f0141c0c-f90f-45ec-af99-fadd438109a0.png)

![100000013](https://user-images.githubusercontent.com/37958419/201477379-cd67f0fc-0b89-4d7a-a3ab-4666e8c425de.png)

where the pixel value of the sec

[2022-11-12 13:59] Rock-L21 commented on #2300
Regarding category settings, I modified voc.py under mmsegmentation/mmseg/datasets, and the modified files are as follows.
[code]

[2022-11-12 14:00] Rock-L21 commented on #2300
The class_name.py under mmsegmentation/mmseg/core/evaluation has also been modified, as follows

[code]

[2022-11-12 14:02] Rock-L21 commented on #2300
There is no problem during the model training process, the following is a screenshot of the training process

[code]

[2022-11-12 17:27] MABatin commented on #2293
Thanks for the quick reply. So, from my understanding, I need to code the decoder stage of UNet as a ```decode-head``` class and use that in the segmentor config file, is that correct?

[2022-11-13 03:38] #2245 closed

[2022-11-13 03:42] jeonjungho opened #2301 "test pipeline issue"
i have a test pipeline problem

current issue
i use input image with (1280,944,3) and transform (640,448,3)

when validation iteration after training iteration in function "single_gpu_test", input size is 640,448,3

but output result size is original size(1280,944,3) like below image

why result image size is original?

def single_gpu_test
![Screenshot from 2022-11-10 16-02-24](https://user-images

[2022-11-13 03:43] #2291 closed

[2022-11-13 04:24] sanbuphy commented on #2299
you can refer to this :https://github.com/open-mmlab/mmengine/blob/main/mmengine/runner/runner.py#L1939

[2022-11-13 08:04] yzfzzz opened #2302 "IndexError: The shape of the mask [512, 1024] at index 0 does not match the shape of the indexed tensor [1024, 2048] at index 0"
When I use deeplabv3plus_r50-d8_512x1024_40k_cityscapes, I find the following problem.

I just add ('val',1) after workflow, for example: `workflow = [('train', 1),('val',1)]`

But when I do the training, every time I get to the validation phase, it keeps this error `IndexError: The shape of the mask [512, 1024] at index 0 does not match the shape of the indexed tensor [1024, 2048] at index 0 `

I

[2022-11-13 08:38] Rock-L21 commented on #1615
Hello, may I ask how to solve the problem that the above result is Nan?

[2022-11-13 11:54] VoyagerXvoyagerx commented on #2299
Thanks a lot! I read the code you referred and added `cfg.train_dataloader.dataset.metainfo = metainfo` in the cfg, but same error occurred.
In [runner.py #L2098](https://github.com/open-mmlab/mmengine/blob/48650f3bace1327734a26233097f301cdc4f196c/mmengine/runner/runner.py#L2098) , `train_dataloader.dataset.metainfo` is assigned to `checkpoint.meta.dataset_meta` , but model.dataset_meta is not ass

[2022-11-13 13:54] Sunbaoquan commented on #2289
你好，再跟您请教一下，是在test pipeline中的` dict(type='Resize', keep_ratio=True)`后添加字段`dict(type='ResizeToMultiple')`吗？这样子可以理解为最大程度上降低：我自己的模型不能输入等比缩放后的图像（因为高和宽不是32的整数倍），需要在经过一步resize；而baseline是直接输入等比缩放的图像，这两者直接的偏差？最终的MIoU的计算是在原图像尺寸上进行的对吧？

期待您的回复，谢谢~ @MeowZheng

[2022-11-14 01:04] sanbuphy commented on #2299
The genuine model.dataset_meta just like :
`{'CLASSES':('xxx','xxxx'),'PALETTE':[xxxxxx]}`
maybe you can change `dict(classes = classes, palette = palette)` into `dict('CLASSES' = classes, 'PALETTE' = palette)`
and the palette can be set to None.

In addition, you can make sure the dataset_meta is in your config.
in config they named 'metainfo' , there are four occurrences in the complete configur

[2022-11-14 01:10] tjdgus6255 commented on #2081
After annotation, you should convert files(json format) to VOC-format dataset.
[code]

[2022-11-14 01:37] Rock-L21 commented on #2081
Hello, thank you very much for your reply. Where is the code snippet involving this command line?

[2022-11-14 03:46] tjdgus6255 commented on #2081
Hello. I recommend that you read the README.md before asking.

[2022-11-14 04:26] Rock-L21 commented on #2081
ok, thank you very much for your reply

[2022-11-14 09:41] studiouspan commented on #2300
Have you solved it yet? I have the same problem

[2022-11-14 10:40] studiouspan commented on #2300
我已收到您的邮件，谢谢，祝一切顺利！

[2022-11-14 10:40] #2300 closed

[2022-11-14 12:03] TolgaBkm opened #2303 "16-bit images"
Does MMSegmentation support 16-bit images?

[2022-11-15 00:53] studiouspan commented on #2300
OK , It worked , thanks for your reply !

[2022-11-15 03:03] so45jj45 commented on #2277
Hi @chen-del
I also had the same error.
There seems to be a problem with the "~/SegNeXt/mmseg/models/decode_heads/ham_head.py"
When I replaced all the codes in ham_head.py with "cuda=True" with "cuda=False", the model was converted with several errors. Give it a try.

[2022-11-15 03:35] chen-del commented on #2277
@so45jj45 Thanks, it seems to be possible, but the structure is not very simplified, there are some conversion problems in the middle, I need to look again.

[2022-11-15 05:28] #2072 closed

[2022-11-15 07:30] Li-Qingyun opened #2305 "Request for adding options like mode in the new mmcls to the `browse_dataset` mmseg 1.x"
It seems that the `browse_dataset` can only output transformed image.
More features like browse mode in mmcls can be added to mmseg.

[code]

I submit this issue to ask whether my usage is wrong or the new mmseg indeed require a pr to support this.

[2022-11-15 07:34] Li-Qingyun opened #2306 "Request for adding features to dataset browsing script for mmseg 1.x"
## Request for adding features to dataset browsing script for mmseg 1.x

It seems that the `browse_dataset` of current mmseg 1.x can only output transformed images.
New feature like different browsing modes in the new mmcls is required ~
[code]

I submit this issue to ask whether my usage is wrong or the new mmseg indeed require a pr to support this.

[2022-11-15 07:37] Li-Qingyun commented on #2306
If the feature is indeed required, I'll try to submit a pr when my current pr has been finished. @xiexinch

[2022-11-15 07:37] Li-Qingyun commented on #2294
If the feature is indeed required, I'll try to submit a pr when my current pr has been finished. @xiexinch

[2022-11-15 07:37] jinwonkim93 opened #2307 "flake8 no longer exist"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. The bug has not been fixed in the latest version.

**Describe the bug**
I am trying to pre-commit and gitlab is asking me to login. so when i check https://gitlab.com/pycqa/flake8.git it shows 404 error.
Is it only me?

**Reproduction**
pre-commit
1. What

[2022-11-15 07:44] xiexinch commented on #2307
Hi @jinwonkim93,
Perhaps we meet the same problem. https://github.com/open-mmlab/mmsegmentation/actions/runs/3468284766/jobs/5793950523#step:5:101

[2022-11-15 07:54] jinwonkim93 commented on #2307
@xiexinch I think changing  https://gitlab.com/pycqa/flake8.git -> https://github.com/PyCQA/flake8.git in .pre-commit-config.yaml will fix the problem.

[2022-11-15 08:06] xiexinch commented on #2307
Thanks, I create a pr to fix it. #2308  @jinwonkim93

[2022-11-15 12:09] hetianle opened #2310 "当label所有像素均为忽略时，label[label != ignore_index] 为空，再max()操作会报 RuntimeError: operation does not have an identity."
https://github.com/open-mmlab/mmsegmentation/blob/c4c0c1f80456f2be26350e36d4c6050f24fd7608/mmseg/models/losses/cross_entropy_loss.py#L124

[2022-11-15 12:22] MengzhangLI commented on #2303
Hi, if OpenCV or PIL could handle 16-bit image, MMSegmentation could support it technically because it is based on those packages.

Related Ref:
https://stackoverflow.com/questions/10969585/opencv-reading-a-16-bit-grayscale-image

[2022-11-15 13:02] joihn opened #2311 "deleted"
deleted

[2022-11-15 13:16] #2311 closed

[2022-11-15 13:16] joihn commented on #13
Thanks for this repo,
Any plan to support RtFormer ?
https://arxiv.org/abs/2210.07124

[2022-11-15 13:26] joihn commented on #1147
The new RC of MMdetection does support semi-supervised learning:
https://mmdetection.readthedocs.io/en/v3.0.0rc0/user_guides/semi_det.html

There is also a new RC of mmsegmentation but no semi supervised afaik :/

[2022-11-15 13:58] #2307 closed

[2022-11-16 00:58] #2305 closed

[2022-11-16 06:07] Li-Qingyun opened #2316 "Problem of `SegLocalVisualizer._draw_sem_seg` in mmsegmentation 1.x."
I tried to visualize semantic segmentation map of Potsdam data set with `browse_dataset.py`, which uses SegLocalVisualizer._draw_sem_seg to draw the map. The results are as follows:
![2_10_0_0_512_512 png_0](https://user-images.githubusercontent.com/79644233/202074344-b6c17b35-73b9-4a36-8845-1ac54f4edef6.png)
![image](https://user-images.githubusercontent.com/79644233/202095758-f5419b3f-a8b5-4851-

[2022-11-16 06:22] Masque555 commented on #2270
Hi, my problem has been solved. However, a problem has been found: torch2onnx in mmsegmentation It seems that py is invalid. Has it been discarded? When I use mmdeploy, all problems can be solved. My environment is posted below, hoping to help others.

environment is as follows：

2022-11-16 14:08:11,082 - mmdeploy - INFO -

2022-11-16 14:08:11,082 - mmdeploy - INFO - **********Environmental inform

[2022-11-16 06:24] Masque555 commented on #2270
Hi, my problem has been solved. However, a problem has been found: torch2onnx in mmsegmentation It seems that py is invalid. Has it been discarded? When I use mmdeploy, all problems can be solved. My environment is posted below, hoping to help others.

environment is as follows：

2022-11-16 14:08:11,082 - mmdeploy - INFO -

2022-11-16 14:08:11,082 - mmdeploy - INFO - **********Environmental inform

[2022-11-16 06:29] Masque555 commented on #2277
Hello, I have encountered similar problems before, but when I use mmdeploy, all problems can be solved. It should be noted that mmdeploy has certain requirements for the version of pytorch. I hope it can help you.

[2022-11-16 07:18] xiexinch commented on #2294
Hi @Li-Qingyun,
Sorry for the late reply, this feature does need to be added, and we would really appreciate it if you submit a pr.

[2022-11-16 07:41] #2295 closed

[2022-11-16 07:49] xiexinch commented on #2296
Hi @mustafacavusoglu,
Sorry for the late reply, did you modify the source code? And could you provide your config to us if it's possible?

[2022-11-16 07:52] xiexinch commented on #2297
Hi @plainzzj,
We provide `RandomCrop` transform to crop an image to a specific size.
https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/datasets/ade20k.py#L11

[2022-11-16 08:01] xiexinch commented on #2301
Hi @jeonjungho,
The `MultiScaleFlipAug` works only if you run the testing command with `--aug-test`:
[code]

[2022-11-16 08:06] xiexinch commented on #2302
Hi @yzfzzz,
Sorry for the late reply, actually you don't need to modify the `workflow`.

[2022-11-16 08:12] xiexinch commented on #2306
Hi @Li-Qingyun,
Thanks for proposing the requirements, we will support this feature asap and also welcome community users to submit PR :)

[2022-11-16 08:16] scm-later opened #2317 "training time"
On the same dataset, using the same settings, why do I spend the same time training with two video cards as with one video card

[2022-11-16 08:16] xiexinch commented on #2310
Hi @hetianle,
请问这是您自定义的数据集吗？这种情况是有些图的 label 全为需要忽略的背景类吗？

[2022-11-16 09:02] mustafacavusoglu commented on #2296
Yes, it's my fault. Thank you for your reply

[2022-11-16 09:35] A-guridi commented on #2297
Hello,

You can also try cropping the image into different smaller patches of the size you are looking for. For that, you need just simply to define parameters like cropping size and stride size (how many pixels in common will each image have).

As an example, you might try the postdam pre-process pipeline and adapt it to your needs.
https://github.com/open-mmlab/mmsegmentation/blob/master/tools/c

[2022-11-16 14:19] Lenleooo commented on #2117
Thanks for your attention!
1. The training process is strange, when trainig, loss and decode.acc_seg is normal, but it is abnormal when eval,like fig.1 and fig.2:

![1](https://user-images.githubusercontent.com/43592098/202204146-88f1afa2-6eb5-4abb-bd31-976fe423c3d5.png)
![2](https://user-images.githubusercontent.com/43592098/202204180-56d384be-d314-472e-80f2-c3a499d9ed90.png)

2. Here are my home

[2022-11-16 14:23] Lenleooo commented on #2117
My dataset contains image and label.
image is 512*512*3;
label is 512*512 (single channel) and the pixel values are 0 and 1.

[2022-11-16 15:08] MengzhangLI commented on #2317
Hi, because the total batch size of your model is not the same, for example in ADE20K dataset, you can set samplers per GPU [here](https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/datasets/ade20k.py#L35).

If you want to accelerate training process, you could make `samples_per_gpu` half of original setting when using two GPUs.

[2022-11-16 15:26] MengzhangLI commented on #2316
Hi, qingyun, thanks for your feedback.

I think your custom visualizer is correct. What type of `sem_seg` did you use? ground truth or predictions?

[2022-11-17 00:40] Li-Qingyun commented on #2316
@MengzhangLI Thanks for your rapid reply !
I tried to run `browse_dataset.py`, hence, ground truth was used.

[2022-11-17 02:27] hetianle commented on #2310
@xiexinch 对的，自定义数据集，大概率是random crop的时候 全部crop的图像忽略区域

[2022-11-17 03:24] conradfoo commented on #1553
Hi,

I had the same issue with the tutorial. I think the issue is that the segmentation maps are saved with all 19 classes, so the ground truth segmentation maps that get loaded in during training have 19 labels instead of 8. If you change the method to save the segmentation map to set everything greater than 7 to 7, it should work:
[code]

Initially, I tried setting those pixels to 255 (ignore_in

[2022-11-17 05:37] MengzhangLI commented on #2316
The other user's case looks like bad performance of prediction. What problem do you think the potsdam dataset visualization have in this case? Sorry I do not get thorough your problem.

Best,

[2022-11-17 09:37] xiexinch opened #2318 "[Attention] OpenMMLab Codecamp"
![image](https://user-images.githubusercontent.com/15952744/202405981-24ee7b38-c929-467b-948b-239d30200e09.png)
## Introduction
Interested in deeply participating in OpenMMLab projects? Want to learn more about OpenMMLab's awesome tools without wasting plenty of time reading docs? The First OpenMMLab Codecamp has begun!! We provide more than a hundred tasks from the seventeenth research directions

[2022-11-17 10:27] xiexinch opened #2319 "[Attention] 超级视客营 MMSegmentation"
![image](https://user-images.githubusercontent.com/15952744/202410941-20b0eac1-5226-43b0-910d-d57aa33f8291.png)

## 活动介绍

大家好，第一期 OpenMMLab 超级视客营实训活动开始啦！超级视客营实训活动提供十七个方向、上百个不同难度的任务供大家选择，不管你是初涉 AI 的新手还是资深炼丹师，都有适合你的任务供你选择。助力大家上手 OpenMMLab 开源算法库并参与项目建设。本期活动联合北京超级云计算中心，提供算力支持，为大家开发保驾护航。

活动参与方式：选择你感兴趣的任务，在 OpenMMLab 官网提交报名表。完成匹配后，即可和导师对接制定任务规划，开始上手开发。根据不同任务要求在对应的地址提交代码结果，出题方初步 review 通过后即可领取下一个任务或者坐等领

[2022-11-17 13:44] likyoo commented on #2127
The same problem. But when I use the version 0.24.1, it works.

[2022-11-17 13:47] likyoo commented on #2127
And this problem can be temporary solved by `CUDA_VISIBLE_DEVICES=1 python tools/train.py ...`

[2022-11-18 02:40] MeowZheng commented on #2316
May you check the color of the shadow area in this picture? and figure out which label index responds to the color?
https://user-images.githubusercontent.com/79644233/202074344-b6c17b35-73b9-4a36-8845-1ac54f4edef6.png

[2022-11-18 02:57] Li-Qingyun commented on #2316
@MengzhangLI
I think the problem is in the `SegLocalVisualizer._draw_sem_seg()` uses `mmengine.Visualizer.draw_binary_masks()` to draw each binary mask.
Both gt_img and pred_img is drown with the func.

There are confusing logic in [L848-L855](https://github.com/open-mmlab/mmengine/blob/d837fc1ca7428daff5f4f203d08d48bf0ca60f5e/mmengine/visualization/visualizer.py#L848-L855) of `mmengine.Visualizer

[2022-11-18 03:59] MeowZheng commented on #2316
It might be a common issue for the visualizer of the image mask, and I have transferred this issue to mmengine,

[2022-11-18 11:19] mmeendez8 opened #2323 "Why assert `ori_shape` on BaseSegmentor `forward_test`"
Just realized about this assert in `BaseSegmentor`:

https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/segmentors/base.py#L85

I am trying to figure out why is this needed there. Basically I am trying to deploy a model using torchserve. My pipeline resizes data into same resolution and scale is set to False so I should be able to process batches but I am getting an error due to

[2022-11-18 13:34] Wuyunfan-BUPT opened #2324 "if dataset support .npy format"
def __init__(self, **kwargs):
        super(TestDataset, self).__init__(
            img_suffix='.npy',
            seg_map_suffix='.npy',
            reduce_zero_label=False,
            **kwargs)
        assert osp.exists(self.img_dir)

I define my dataset, but it is .npy file, and throws error. I want to know if mmsegmentation supprt this format data

[2022-11-19 09:42] yzfzzz commented on #2302
OK，thanks！

[2022-11-19 09:42] #2302 closed

[2022-11-19 12:33] wusize opened #2325 "Bug in knet_head"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. The bug has not been fixed in the latest version.

**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction**

1. What command or script did you run?

[code]

2. Did you make any modifications on the code or config? Did you

[2022-11-19 12:34] wusize commented on #2325
super(BaseDecodeHead, self).__init__(**kwargs) -> super(IterativeDecodeHead, self).__init__(**kwargs)

[2022-11-19 13:05] VoyagerXvoyagerx commented on #2299
#2326
Thanks for your suggestion! I found dataset_meta saved in the checkpoint. So we should init model from the checkpoint before visualization. I have made a pull request to fix the bug in this tutorial.

[2022-11-19 19:15] MABatin opened #2327 "collate function in inference doesn't work for images with different dimension"
**Describe the bug**

Using inference_segmentor for inference on multiple images with different dimensions doesn't work. It gives the following error:
```RuntimeError: stack expects each tensor to be equal size, but got [3, 256, 300] at entry 0 and [3, 460, 256] at entry 1```

Workaround for this isinferencing on the images one at a time with a loop which takes quite a lot of time.

**Reproduction

[2022-11-20 04:42] #2303 closed

[2022-11-20 04:57] MengzhangLI commented on #2324
Hi, if your .npy format dimension does not > 3 ([this mmcv issue](https://github.com/open-mmlab/mmcv/issues/2066) says `.npy` dimension > 3 is not supported), it could be implemented but you need to add some codes.

you could refer to this [medican image data loading PR](https://github.com/open-mmlab/mmsegmentation/pull/2176), the key lines is [here](https://github.com/open-mmlab/mmsegmentation/bl

[2022-11-20 04:58] MengzhangLI commented on #2325
Hi, thanks for your feedback. We would figure out this problem and update to you asap.

Best,

[2022-11-20 05:46] Mr-Clutch-China commented on #1180
I have the same problem and the dataset I used was binary, which also worked well without ohem.
By the way, it works well when I use the color category [(0, 0, 0), (1, 1, 1)], but this error occurs when I use [(0, 0, 0), (255, 255, 255)]

[2022-11-20 12:24] medlen opened #2328 "how mmsegmentation put data to gpu?"
Hi, I searched all mmsegmentation codes, and didn't find where mmsegmentation put data to gpu device. Can anyone help me?

[2022-11-21 01:16] jeonjungho commented on #2301
Hi @xiexinch  ,
you mean that when validation iteration after training iteration, test images aren't applied with multiscaleFlipAug?

[2022-11-21 02:44] davodogster opened #2329 "How to train Segformer from scratch? (pretrained =None)"
Hi guys,

When I try to exclude the weights and train from scratch it gives an error. Can I train it from scratch?

![image](https://user-images.githubusercontent.com/46079516/202952128-14fa4062-3438-44a3-8c98-2def77c74b29.png)

![image](https://user-images.githubusercontent.com/46079516/202952194-b50ae460-8a2b-47ed-8975-8d350740f0cb.png)

When I train it with downloaded weights it works well.

Th

[2022-11-21 03:33] MengzhangLI commented on #2329
I think you can try to delete the line `init_cfg = xxx` because this error usually happened when your config `.py` file has language error such as missing `,` or `;` in your dict.

You can also see red underline wave in `decode_head`, this is a signal of your wrong config format.

[2022-11-21 03:57] MengzhangLI commented on #2328
We use MMCV to handle data loading, for example, if you use one GPU environment, your model type would be `MMDataParallel`, which inherit DataParallel from torch, it would scatter data to device (such as GPU, 'cuda: 0').

The key line is here: https://github.com/open-mmlab/mmcv/blob/master/mmcv/parallel/data_parallel.py#L46-L48

[2022-11-21 04:05] davodogster commented on #2329
@MengzhangLI Thanks it worked! I had an extra ) and I also deleted the line as recommended.

[2022-11-21 04:05] #2329 closed

[2022-11-21 04:13] medlen commented on #2328
Thanks.  I get it.

[2022-11-21 06:32] Masque555 opened #2330 "RuntimeError: Given groups=1, weight of size [32, 1, 3, 3], expected input[4, 3, 320, 220] to have 1 channels, but got 3 channels instead"
Hello, I found a problem while training my own dataset with mmsegmentation. The input channel of the network is 3, which can be trained normally. However, when I modify the number of input channels of the network, the following error occurs

RuntimeError: Given groups=1, weight of size [32, 1, 3, 3], expected input[4, 3, 320, 220] to have 1 channels, but got 3 channels instead

This question has p

[2022-11-21 06:58] MengzhangLI commented on #2330
Could you attach your training log? Thx.

[2022-11-21 07:14] #2324 closed

[2022-11-21 07:20] Masque555 commented on #2330
Thank you for your reply！The input image is a single channel. If you do not change the channel from 3 to 1, you can train. However, an error occurred when I changed the number of input channels from 3 to 1.

The training log is as follows:
2022-11-21 14:00:14,077 - mmseg - INFO - OpenCV num_threads is `16
2022-11-21 14:00:33,495 - mmseg - INFO - Environment info:
----------------------------------

[2022-11-21 07:21] Masque555 commented on #2330
Thank you for your reply！The input image is a single channel. If you do not change the channel from 3 to 1, you can train. However, an error occurred when I changed the number of input channels from 3 to 1.

The training log is as follows:

2022-11-21 14:00:14,077 - mmseg - INFO - OpenCV num_threads is `16
2022-11-21 14:00:33,495 - mmseg - INFO - Environment info:
---------------------------------

[2022-11-21 07:39] RyanYip-Kat commented on #2283
![1669016197665](https://user-images.githubusercontent.com/67267063/202991675-d693e754-1f1b-4684-b609-d70178790274.jpg)

In fact, my annotation file is str_mask2, the dimension is also 2D, but after saving as an segmentation file, this error will still be reported? What's the matter, please? thank you

[2022-11-21 07:42] xiexinch commented on #2301
Hi @jeonjungho,
Yes, MultiscaleFlipAug doesn't work during training.

[2022-11-21 12:18] ThorPham commented on #2283
@RyanYip-Kat can you show log error ?

[2022-11-21 13:33] #2328 closed

[2022-11-21 16:49] MengzhangLI commented on #2330
Hi, @Masque555 what `channels` you modify in config file?

[2022-11-22 00:51] Masque555 commented on #2330
I modified the number of input channels of the backbone and added rgb2gray to the data processing. Now the bug has been solved, but another bug appears.

Bug is as follows:
RuntimeError: Input type (torch.cuda.FloatTensor) and weight type should be the same

[2022-11-22 03:04] #2127 closed

[2022-11-22 04:55] MengzhangLI commented on #2330
`RuntimeError: Input type (torch.cuda.DoubleTensor) and weight type (torch.cuda.FloatTensor) should be the same`.

It shows your data input type should be `torch.cuda.FloatTensor` rather than `torch.cuda.DoubleTensor`. To be honest, I do not know details but you can try to set `img = img.float()` before this line: https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/segmentors/enc

[2022-11-22 05:36] Masque555 commented on #2330
Thank you for your reply. I will try.

[2022-11-22 05:52] Masque555 commented on #2330
thank you very much, I made changes according to your tips,  https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/segmentors/encoder_decoder.py#66 and #L74 . and now I can start training.

[2022-11-22 06:24] MengzhangLI commented on #2330
Cool. Happy to hear that.

[2022-11-22 06:25] Masque555 commented on #2330
thank you very much, I made changes according to your tips,  https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/segmentors/encoder_decoder.py#66 and #L74 . and now I can start training.

[2022-11-22 06:25] #2330 closed

[2022-11-22 07:20] #2270 closed

[2022-11-22 15:33] smttsp opened #2337 "BUG in U-Net scripts: h_stride, w_stride = self.test_cfg.stride TypeError: cannot unpack non-iterable int object"
https://github.com/open-mmlab/mmsegmentation/blob/1bb58de01ab650d56265804dafea99564452e830/configs/_base_/models/deeplabv3_unet_s5-d16.py#L50

I am a newbie on `mmsegmentation` repo.

When I tried training U-Net using `pytorch > 1.10.0` (didn't try earlier versions but I tried `pytorch==1.11, 1.13`) I am getting the following error.

[error.log](https://github.com/open-mmlab/mmsegmentation/files/1

[2022-11-22 21:59] jackkwok opened #2338 "Is there an Early Stopping option?"
I want to do early stop the training if the validation loss doesn't decrease for N iterations. Is early stopping implemented?  If not, I will implement it.

[2022-11-23 07:44] xiexinch commented on #2337
Hi @smttsp,
Thanks for you report. Could you create a PR to fix this problem? At [mmsegmentation/configs/_base_/models/deeplabv3_unet_s5-d16.py](https://github.com/open-mmlab/mmsegmentation/blob/1bb58de01ab650d56265804dafea99564452e830/configs/_base_/models/deeplabv3_unet_s5-d16.py#L50), we put `int` value as a placeholder, and these value modified at the sub configs.

https://github.com/open-mmla

[2022-11-23 11:15] AhmetTelceken opened #2340 "Confusion Matrix Error"
Hi,
I need a confusion matrix but the method of generate prediction results, stops by itself.

error message:
`2422/2643, 20.3 task/s, elapsed: 119s, ETA:    11s^C`

![cm_Error](https://user-images.githubusercontent.com/111444230/203532953-9855e194-b724-4fc8-a3ed-42dd37e036b2.png)

How can I get "prediction result"?

[2022-11-23 13:24] weiaicunzai opened #2342 "Does mmsegmentation 1.x still support multi scale test augmentation?"
Thanks for your great work.

I just wandering if mmseg 1.x still supports multi scale test time augmentation.
I realize that the multi scale test augmentation is in  ```MultiScaleFlipAug``` class.
But in 1.x,  I have found that in the config file,  ```MultiScaleFlipAug``` is gone, and in  ``` inference```  method,  the  ```if  flip:```  code snippets are also gone.   I can not seem to find it  any

[2022-11-23 23:30] smttsp commented on #2337
@xiexinch, sure, I will do that soon.

[2022-11-24 01:10] smttsp commented on #2337
@xiexinch, it seems that I don't have permission to push my branch/create PR etc. I followed the guideline:

would you mind checking/granting appropriate access?

[2022-11-24 03:08] xiexinch commented on #2342
Hi @weiaicunzai,
This feature will be supported in the next release, you might take a look at this PR https://github.com/open-mmlab/mmsegmentation/pull/2184

[2022-11-24 03:32] xiexinch commented on #2327
Hi @MABatin,
Sorry for the late reply.
In your script, what is the data type of the `images`?
[code]

And we require all images in the same batch should be of the same shape.
https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/segmentors/base.py#L85

[2022-11-24 03:39] xiexinch commented on #2323
Hi @mmeendez8,
Sorry for the late reply. I think it is used to ensure all augmented images have the same size when testing a model with MultiScaleFlipAug.

[2022-11-24 04:03] ASONG0506 opened #2344 "Detailed feature prediction performance is poor"
![1543048816731600](https://user-images.githubusercontent.com/26050577/203691008-5460323b-7174-479a-9a74-d4ceba09f4d1.png)
![1543046612946109](https://user-images.githubusercontent.com/26050577/203691025-059fbe9f-a55a-4dd5-b704-b3bee5852ede.png)

Hi，I use deeplabv3 to do 4-class segmentation, here is my config file:
[deeplabv3_r50-d8_512x512_4x4_40k_trunk3.py.txt](https://github.com/open-mmlab/mms

[2022-11-24 04:14] MengzhangLI commented on #2344
Hi, from your results above, I think the model training is not wrong because the truck, road the laneline predictions are close to objects.

I think laneline result does not meet your requirement just because this type of foreground is discrete on the image, and its pixel numbers are also less than truck's and roads'.

If you want to improve performance, you can try some more up-to-date models lik

[2022-11-24 04:27] ASONG0506 commented on #2344
@MengzhangLI thanks for your apply

actually  i tried to set the class weight but the result is also not very good, and this is the result in bisenetv2 paper on cityscapes datset, as you can see, the lamppost prediction is very good. I think the lamppost label is the same as laneline, so I still cannot understand why my result is so poor.
![image](https://user-images.githubusercontent.com/26050577

[2022-11-24 04:35] ASONG0506 opened #2345 "predicted class is not the same as my setting"
in my dataset config, there is two class named ['background', 'lane'], whose palette is [[120,120,120], [6, 230,230]], but when I do inference, there is 3 palette in the result including [[120,120,120], [6, 230,230],[0,0,0]], show as follow, what's the problem, thanks!
![image](https://user-images.githubusercontent.com/26050577/203694674-9a6ad727-dfc4-48a7-ae2f-2f1d2e1f9cc2.png)

the class and pal

[2022-11-24 04:38] MengzhangLI commented on #2344
I think the dataset is different, your own dataset is different with Cityscapes. You can train another model which just change dataset config to cityscapes to checkout model performance.

[2022-11-24 04:40] #2344 closed

[2022-11-24 04:44] MengzhangLI commented on #2345
Hi, @ASONG0506 I think it is a binary segmentation problem which it only has one foreground class.

You can refer to this [doc](https://github.com/open-mmlab/mmsegmentation/blob/master/docs/zh_cn/faq.md#%E5%A6%82%E4%BD%95%E5%A4%84%E7%90%86%E4%BA%8C%E5%80%BC%E5%88%86%E5%89%B2%E4%BB%BB%E5%8A%A1). Because I think your problem is caused by wrong config setting.

Best,

[2022-11-24 04:46] #2345 closed

[2022-11-24 08:29] 774911840 opened #2346 "the png from test.py has no background color"
![test-60034_json](https://user-images.githubusercontent.com/42885976/203731593-55d75b6b-0e09-4153-956e-da30619eb08b.png)
It should have the background color,but it does'nt.

[2022-11-24 08:43] sanath-tech commented on #2338
Even i am struck with the same problem , but i wanted to early stop when validation loss starts increasing for some N iterations

[2022-11-24 08:50] 774911840 commented on #2346
Thank you reply in time.I kown what your mean.But I set the background to 255.So if I should set background to a label and segment the background with the other true labels at the same times?Actually i  think i should ignore the background but the png from test.py has no background,i think that is not correct.

[2022-11-24 09:42] MengzhangLI commented on #2346
You can follow [ADE20K setting](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/ade.py#L16-L19), set label 0 as background and set [`reduce_zero_label=True`](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/ade.py#L90). Hope this [doc](https://github.com/open-mmlab/mmsegmentation/blob/master/docs/zh_cn/faq.md#reduce_zero_label-%E7%9A%84%E4%BD%9C%E7%94

[2022-11-24 11:33] xbbkok commented on #2105
I had the same error

[2022-11-24 14:52] weiaicunzai commented on #2342
Thanks.

[2022-11-24 14:52] #2342 closed

[2022-11-24 17:13] smttsp commented on #2337
@xiexinch, I created a PR.

Not sure of these steps:

Checklist
1. Pre-commit or other linting tools are used to fix the potential lint issues: No impact on formatting
2. The modification is covered by complete unit tests. If not, please add more unit test to ensure the correctness: couldn't find any unit-tests for configs
3. If the modification has potential influence on downstream projects, this

[2022-11-25 04:57] zp19990818 commented on #1313
请问是直接将原本的二值mask中[255,255,255]的目标改成[1,1,1]吗？还是说修改其他的地方

[2022-11-25 07:19] createhappily opened #2348 "A question about test_pipeline"
Hello, may I ask a question about the test pipeline? When I train, I usually crop image to (512, 512), set the batch size to 4, and the cuda memory is basically full. But when I test the image, the specifications of the image can reach (2550, 2271). I want to ask why such a large image test will not exceed cuda memory.

[2022-11-25 07:36] MengzhangLI commented on #2348
In inference, the batch size is 1. I think this is the main reason.

[2022-11-25 08:47] CaptainHarryChen opened #2349 "Datasets Pascal VOC get 'KeyError: "ann_info"' when trainning"
**Describe the bug**
I use 'mmseg.datasets.PascalVOCDataset' to load data, and use 'train_segmentor' to train my own model.

It will evaluate the model on the train dataset every 8000 iters as the 'configs/_base_/schedules/schedule_80k.py' said.

While evaluating, it will load trainning dataset in test mode, so it will call 'CustomDataset.prepare_test_img()'.

This will not add the 'ann_info' into

[2022-11-25 08:52] xiexinch commented on #2349
Hi @CaptainHarryChen,
Could you provide your running env? And do you modify any codes?

[2022-11-25 09:56] NielsRogge opened #2350 "About Swin's PatchMerging implementation"
Hi,

So I saw mmsegmentation provides a [re-implementation](https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/models/backbones/swin.py) of the Swin backbone. However, for the `PatchMerging` (downsampling) block, this implementation differs from the [original one](https://github.com/SwinTransformer/Swin-Transformer-Semantic-Segmentation/blob/main/mmseg/models/backbones/swin_transformer

[2022-11-25 09:59] NielsRogge commented on #2350
Update: I found this which could be useful: https://github.com/open-mmlab/mmdetection/blob/31c84958f54287a8be2b99cbf87a6dcf12e57753/mmdet/models/utils/ckpt_convert.py#L85

[2022-11-25 11:25] xiexinch commented on #2350
Hi @NielsRogge,
We provide a script to convert the official checkpoints to the mmseg version.

https://github.com/open-mmlab/mmsegmentation/blob/master/tools/model_converters/swin2mmseg.py

[2022-11-25 11:32] xiexinch commented on #2337
Hi @smttsp,
Thanks for your contribution, I have approved your PR, and it will be merged soon.

[2022-11-25 12:47] MengzhangLI commented on #2350
Hi, @NielsRogge
We also provided well-converted ckpts URLs from config, like [tiny](https://github.com/open-mmlab/mmsegmentation/blob/master/configs/swin/upernet_swin_tiny_patch4_window7_512x512_160k_ade20k_pretrain_224x224_1K.py#L5) and [large](https://github.com/open-mmlab/mmsegmentation/blob/master/configs/swin/upernet_swin_large_patch4_window12_512x512_pretrain_384x384_22K_160k_ade20k.py#L5).

[2022-11-25 12:53] createhappily commented on #2348
Thank you for your answer. But I think the image size (2550, 2271) is far more than 4 times image size (512, 512).

[2022-11-25 12:54] Alexander-Shao commented on #2346
hello I had the same problem. My test results are normal. But the visualization of the segmentation results is very abnormal. No background classes at all.@MengzhangLI
Dataset configuration
img_norm_cfg = dict(
    mean=[35.48, 35.48, 35.48], std=[58.52, 58.52, 58.52], to_rgb=True)
img_scale = (224, 224)
crop_size = (224, 224)
train_pipeline = [
    dict(type='LoadImageFromFile'),
    dict(type='L

[2022-11-25 12:55] Alexander-Shao commented on #2346
the png from test.py is exactly the same as the questioner

[2022-11-25 13:00] createhappily commented on #2348
# dataset settings
dataset_type = 'RemoteSenseDataset'
data_root = 'data/rs128'
img_norm_cfg = dict(
    mean=[123.675, 116.28, 103.53], std=[58.395, 57.12, 57.375], to_rgb=True)
crop_size = (512, 512)
train_pipeline = [
    dict(type='LoadImageFromFile'),
    dict(type='LoadAnnotations'),
    # dict(type='Resize', img_scale=(2550, 2271), ratio_range=(0.5, 2)),
    dict(type='Resize', ratio_range=

[2022-11-25 13:03] createhappily commented on #2348
# dataset settings
dataset_type = 'RemoteSenseDataset'
data_root = 'data/rs128'
img_norm_cfg = dict(
    mean=[123.675, 116.28, 103.53], std=[58.395, 57.12, 57.375], to_rgb=True)
crop_size = (512, 512)
train_pipeline = [
    dict(type='LoadImageFromFile'),
    dict(type='LoadAnnotations'),
    # dict(type='Resize', img_scale=(2550, 2271), ratio_range=(0.5, 2)),
    dict(type='Resize', ratio_range=

[2022-11-25 13:14] createhappily commented on #2348
I was wondering if it was because the batch_ The size is set to 4, which means that four models and four pictures are loaded at the same time, so the cuda memory is full. When testing, batch_ The size is 1 and only one model is loaded, so you can test images of that size. Is my guess right?

[2022-11-26 13:05] 1787648106 commented on #1196
I set a eval per 1000 Iters，It is run well, but when i set a eval per 8000+ Iters, It showed ''RunTimeError: cuda out of memory." when pass a 1/3 process of eval.

[2022-11-26 15:25] MrWcy commented on #570
@MengzhangLI excuse me，Can you send the DRIVE dataset to my email【735746916@qq.com】? Thank you

[2022-11-26 15:40] lkyyef opened #2351 "a question about channel"
Hello, I want to train the segment with four channels of remote sensing data. How should I change the original three channels to four channels?

[2022-11-27 00:06] MABatin commented on #2327
Hi @xiexinch , thanks for the reply
In my script, ```images``` is a ```list``` containing the filenames of the images

I assumed for inference, images could be of different shapes like in ```inference_detector``` for mmdetection. So, now if I have images with different shapes I have to run ```inference_segmentor``` individually for each image and append the results to a list for a workaround, righ

[2022-11-27 08:58] wangrenrui opened #2352 "求助为什么pascal voc数据集的测试输出的背景没有被盖上颜色而直接输出"
我使用pascal [voc数据集进行测试，发现输出的语义分割图片颜色非常淡，背景也没有颜色，这该怎么解决呢
![2008_000009](https://user-images.githubusercontent.com/68637895/204126983-b621be52-b613-4ec3-9bc1-fd1877f904ff.jpg)

[2022-11-27 09:04] wangrenrui commented on #2352
这里我输入的是jpg图像，但感觉输出的结果不理想，不知道应该怎么调试代码才能把背景上色呢

[2022-11-27 12:06] scm-later opened #2353 "data enhancement"
It seems that random rotation is not included in the data enhancement strategy.How can I add this operation to data enhancement?

[2022-11-28 04:59] #2337 closed

[2022-11-28 06:42] apple2373 commented on #2196
I'm also curious about the seed.

I guess the original intention of this question is not how to specify the seed. To me, i want to know how did the MMSegmentatino team find the best seed.

For example,  the following log indicate the seed is 1632614406.
https://download.openmmlab.com/mmsegmentation/v0.5/segmenter/segmenter_vit-t_mask_8x1_512x512_160k_ade20k/segmenter_vit-t_mask_8x1_512x512_160k_ad

[2022-11-28 08:54] manpoyang opened #2354 "Some doubts on mmsegmentation 1.x"
1.Why the per-class validate result cannot be recorded in the log file while it can be recorded on mmseg0.x
![image](https://user-images.githubusercontent.com/35774759/204233597-08a54e0e-a079-48de-a8c2-f5d32fb78d5f.png)
![image](https://user-images.githubusercontent.com/35774759/204233711-5a74cd74-8f39-4773-aadb-7414143870e3.png)

2. Multiple Datasets can be added on mmseg0.x while it cannot on mm

[2022-11-28 08:57] xiexinch commented on #2353
Hi @scm-later,
You might add the `RandomRotate` augmentation to the `train_pipeline` or `test_pipeline`.

https://mmsegmentation.readthedocs.io/en/latest/tutorials/data_pipeline.html

[2022-11-28 09:01] xiexinch commented on #2351
Hi @lkyyef,
Do you mean to change the network input channels?
Perhaps you should modify the data loading method and the network input channels.

https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/models/bisenetv1_r18-d32.py#L7

[2022-11-28 09:02] MengzhangLI commented on #2354
A1: Yes. In mmseg 1.x the log does not show per-class metric, we would support if it is necessary.

A2: It is because in mmseg 1.x we use `BaseSegDataset` to replace `CustomDataset`, which does not have `split` attribute anymore. `BaseSegDataset` replaces member variable `img_infos` and `split` to `data_list` and `ann_file`, respectively. You can compare mmseg 0.x and 1.x dataset config to use it.

[2022-11-28 09:05] xiexinch commented on #2348
The image size won't be changed during testing.

[2022-11-28 09:11] manpoyang commented on #2354
Thanks for your quick reply!

Q1: I think it is still necessary and look forward to the new version.

Q2: If I have a dataset which contains two different image format, how can I use this dataset. In mmseg 0.x, I can train it using dataset concat like this. But in mmseg 1.x, it seems that I cannot do it this way.

![image](https://user-images.githubusercontent.com/35774759/204238383-e4658659-4465-

[2022-11-28 09:12] xiexinch commented on #2348
Only one model loaded to a GPU and a batch data contains 4 images if `samples_per_gpu=4` when training with a single GPU.

https://mmsegmentation.readthedocs.io/en/latest/tutorials/customize_datasets.html#data-configuration

[2022-11-28 09:17] xiexinch commented on #2327
Right, it's the only way now.

[2022-11-28 09:27] manpoyang commented on #2354
And another question please!
When I use this code (on Tutorial 3: Inference with existing models) to inference a single image, why this error occurred.

code:
![image](https://user-images.githubusercontent.com/35774759/204241596-4f41acdc-b76b-4c8b-8c43-53a0ac5b287e.png)

error:
![image](https://user-images.githubusercontent.com/35774759/204241679-e3d20fc4-2b3f-4744-a38b-a810e864df20.png)

Look for

[2022-11-28 09:29] xiexinch commented on #2352
Hi @wangrenrui,
看起来背景没有被上色，你可以调一下透明度试试，https://github.com/open-mmlab/mmsegmentation/blob/master/tools/test.py#L95

[2022-11-28 09:37] xiexinch commented on #2352
或者修改一下背景类的调色盘，看看其他颜色有没有被涂上去。

https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/voc.py#L21

[2022-11-28 09:39] lkyyef commented on #2351
Thanks for your quick reply!I'll give it a try.

[2022-11-28 11:42] androbaza commented on #2214
Hi @MengzhangLI. I have trained another model using an older mmsegmentation release and another model, and now the `slide` method works perfectly. Because of change of both release and model, I could not say for sure what was the issue exactly, but my guess would be that it is the model.

[2022-11-28 13:41] NielsRogge commented on #2350
Thanks! I have found the conversion scripts and it's working now.

[2022-11-28 13:41] #2350 closed

[2022-11-29 04:24] lkyyef commented on #2351
I tried to put in_ channels are changed to 4, but an error occurs
RuntimeError: Given groups=1, weight of size [768, 4, 16, 16], expected input[2, 3, 512, 512] to have 4 channels, but got 3 channels instead

[2022-11-29 04:33] MeowZheng commented on #2340
hi, there seems to be no error message here, did you abort it?

[2022-11-29 07:48] xiexinch commented on #2351
Hi @lkyyef,
Could you provide your config file? It might help us to figure out the problems.

[2022-11-29 07:52] lkyyef commented on #2351
2022-11-29 12:20:09,509 - mmseg - INFO - OpenCV num_threads is `<built-in function getNumThreads>
2022-11-29 12:20:12,542 - mmseg - INFO - Environment info:
------------------------------------------------------------
sys.platform: win32
Python: 3.6.2 |Continuum Analytics, Inc.| (default, Jul 20 2017, 12:30:02) [MSC v.1900 64 bit (AMD64)]
CUDA available: True
GPU 0: NVIDIA GeForce RTX 3070
CUDA_HO

[2022-11-29 07:52] AhmetTelceken commented on #2340
Hi, no I didn't abort. I tried multiple times and they all had the same result (abort it self).

[2022-11-29 07:55] xiexinch commented on #2310
Hi @hetianle,
因为不知道你的数据集是什么样的，不知道调大 crop size 能不能解决这个问题。
不过这个确实是一个比较少见的 corner case，如果你有什么解决办法，欢迎提 PR 来修复这个问题。我们也会想办法修复这个 bug。

[2022-11-29 07:57] xiexinch commented on #2296
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-29 07:57] #2296 closed

[2022-11-29 08:00] xiexinch commented on #2277
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-29 08:00] #2277 closed

[2022-11-29 08:01] xiexinch commented on #2276
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-29 08:01] #2276 closed

[2022-11-29 08:04] xiexinch commented on #2297
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-29 08:04] #2297 closed

[2022-11-29 08:06] xiexinch commented on #2323
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-29 08:06] #2323 closed

[2022-11-29 08:13] xiexinch commented on #2268
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-29 08:13] #2268 closed

[2022-11-29 08:14] xiexinch commented on #2266
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-29 08:14] #2266 closed

[2022-11-29 08:14] xiexinch commented on #2228
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-29 08:14] #2228 closed

[2022-11-29 08:16] xiexinch commented on #2224
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-29 08:16] #2224 closed

[2022-11-29 08:17] xiexinch commented on #2208
Closing the issue, as there is no activity for a while.
We hope your issue has been resolved.
If not, please feel free to open a new one.

[2022-11-29 08:17] #2208 closed

[2022-11-29 09:06] xiexinch commented on #2351
Hi, @lkyyef,
You might try to modify the image decode backend.

https://github.com/open-mmlab/mmsegmentation/blob/master/mmseg/datasets/pipelines/loading.py#L36

https://github.com/open-mmlab/mmsegmentation/blob/master/configs/_base_/datasets/ade20k.py#L8

https://github.com/open-mmlab/mmcv/blob/master/mmcv/image/io.py#L213

The error occurs because the inputs of the network are still images with

[2022-11-29 12:02] kzhao94 opened #2357 "RuntimeError: copy_if failed to synchronize: cudaErrorAssert: device-side assert triggered"
When I use the model to train my own dataset, this error always occurs. I feel that my config settings are OK, but I don't know where the error is? How can I solve it?

[code]

[2022-11-29 12:15] createhappily commented on #2348
I was very confused why the image I tested was so large that there was no memory explosion. The model I used is ocrnet. The RTX3080 memory is 16G. The image I tested was (2550, 2271).

[2022-11-29 13:55] lkyyef commented on #2351
thanks,I'll give it a try.

[2022-11-29 15:31] lkyyef commented on #2351
I am embarrassed to ask about the details of how to modify. Although I tried various modifications, they were still unsuccessful (data is four channels in tif format)

[2022-11-29 15:43] lkyyef commented on #2351
I am embarrassed to ask about the details of how to modify. Although I tried various modifications, they were still unsuccessful (data is four channels in tif format)

[2022-11-29 16:02] xiexinch commented on #2357
Hi @kzhao94
Did you modify the source code? Perhaps the values of `target != ignore_index` are out of the range of `correct`, could you set a breakpoint to this line and check the max and min values of `correct` and `target`?

[2022-11-30 06:11] lkyyef commented on #2351
[label.zip](https://github.com/open-mmlab/mmsegmentation/files/10120017/label.zip)
I tried to set dict
[code]
 but there was still a problem

This is part of my data

[2022-11-30 06:54] xiexinch commented on #2348
Hi @createhappily, during training, parameters, gradients, optimizer states, and intermedia activations would cost the GPU memory.

https://pytorch.org/docs/stable/cuda.html

[2022-11-30 07:29] Sere1nz opened #2359 "RuntimeError: Input type (torch.cuda.ByteTensor) and weight type (torch.cuda.FloatTensor) should be the same"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help. **checked**
2. The bug has not been fixed in the latest version. **checked**

**Describe the bug**
A clear and concise description of what the bug is.
As title says

**Reproduction**

1. What command or script did you run?

[code]

2. Did you make any modific